<div class="modal-body p-4">
    <div class="table-container">
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td><strong>LSP Name:</strong> {{ lspDetail?.lspName ? lspDetail?.lspName:'--' }}</td>
            <td><strong>Email:</strong> {{ lspDetail?.emailId ? lspDetail?.emailId:'--' }}</td>
          </tr>
          <tr>
            <td><strong>Mobile Number:</strong> {{ lspDetail?.mobileNo ? lspDetail?.mobileNo:'--' }}</td>
            <td><strong>Alias:</strong> {{ lspDetail?.alias ? lspDetail?.alias:'--' }}</td>
          </tr>
          <tr>
            <td><strong>Description:</strong> {{ lspDetail?.description ? lspDetail?.description:'--' }}</td>
            <td><strong>IsActive:</strong> {{ lspDetail?.isActive ? lspDetail?.isActive:'--' }}</td>
          </tr>
          <tr>
            <td><strong>API Key:</strong> {{ lspDetail?.apiKey ? lspDetail?.apiKey:'--' }}</td>
            <td><strong>API Url:</strong> {{ lspDetail?.apiUrl ? lspDetail?.apiUrl:'--' }}</td>
          </tr>
          <tr>
            <td colspan="2"><strong>API UserName:</strong> {{ lspDetail?.apiUsername ? lspDetail?.apiUsername:'--' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
<!--   
  <div class="modal-footer">
    <div class="hstack gap-2 justify-content-end">
      <button type="button" class="btn btn-square btn-light" data-bs-dismiss="modal">
        Close
      </button>
    </div>
  </div> -->
  