<div class="page-wrapper">
    <div class="container-fluid p-0">
        <div class="row">
            <div class="col-12">
                <div class="login-card">
                    <div>
                        <!-- <div><a class="logo" href="index.html"><img class="img-fluid for-light" src="../assets/images/logo/logo2.png" alt="looginpage"></a></div> -->
                        <div class="login-main">
                            <form class="theme-form" #emailForm="ngForm" (ngSubmit)="sendOtp()">
                                <h4>Forgot Password</h4>
                                <div class="form-group">
                                    <label class="col-form-label">Enter Your Email Address</label>
                                    <div class="row">
                                        <div class="col-12 col-sm-12">
                                            <input class="form-control mb-1" type="email" name="email"
                                                [(ngModel)]="email" placeholder="Enter Your Email" required email
                                                #emailInput="ngModel">
                                            <div class="text-danger" *ngIf="emailInput.invalid && emailInput.touched">
                                                Enter a valid email address
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="text-end">
                                        <button class="btn btn-primary btn-block m-t-10" style="background-color: #406da4 !important;" type="submit"
                                            [disabled]="emailForm.invalid || isSending">
                                            <ng-container *ngIf="!isSending; else loadingSend">
                                                Send
                                            </ng-container>
                                            <ng-template #loadingSend>
                                                <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                                                Sending...
                                            </ng-template>
                                        </button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>