<ng-template #Changepassword>
    <div>
        <div class="p-3 password-bgcolor bs-blue header-border">
            <h5>Change Password</h5>
        </div>
        <div class="p-4">
            <form [formGroup]="changePasswordForm" (ngSubmit)="onChangePassword()">
                <!-- Current Password -->
                <div class="form-group">
                    <label class="col-form-label">Current Password</label>
                    <div class="form-input position-relative">
                        <input [type]="isCurrentVisible ? 'text' : 'password'" class="form-control mb-2" formControlName="oldPassword" placeholder="Enter Current Password" />
                        <div class="align-middle position-absolute  cursor-pointer top-50 translate-middle-y end-0 pe-3" (click)="toggleVisibility('current')">
                            <i class="fa fs-11" [style.color]="isCurrentVisible ? 'darkblue' : 'gray'" [ngClass]="isCurrentVisible ? 'fa-eye' : 'fa-eye-slash'"></i>
                        </div>
                    </div>
                </div>

             <!-- New Password -->
              <div class="form-group">
                <label class="col-form-label">New Password</label>
                <div class="form-input position-relative">
                  <input class="form-control" [type]="isPasswordVisible ? 'text' : 'password'" placeholder="Enter New Password" formControlName="newPassword"
                   [ngClass]="{ 'border-danger': changePasswordForm.get('newPassword')?.touched && changePasswordForm.get('newPassword')?.invalid }">
                  <div class="align-middle position-absolute cursor-pointer top-50 translate-middle-y end-0 pe-3" (click)="toggleVisibility('new')">
                    <i class="fa fs-11" [style.color]="isPasswordVisible ? 'darkblue' : 'gray'" [ngClass]="isPasswordVisible ? 'fa-eye' : 'fa-eye-slash'"></i>
                  </div>
                </div>
                <div class="text-danger mt-1" *ngIf="changePasswordForm.get('newPassword')?.touched && changePasswordForm.get('newPassword')?.invalid">
                  <div *ngIf="changePasswordForm.get('newPassword')?.errors?.['required']">Password is required.</div>
                  <div *ngIf="changePasswordForm.get('newPassword')?.errors?.['minlength']">Password must be at least 8 characters.</div>
                  <div *ngIf="changePasswordForm.get('newPassword')?.errors?.['pattern']">Must include uppercase, lowercase, number, and special character.</div>
                </div>
              </div>

              <!-- Confirm Password -->
            <div class="form-group">
                <label class="col-form-label">Confirm Password</label>
                <div class="form-input position-relative">
                    <input [type]="isConfirmVisible ? 'text' : 'password'" class="form-control mb-2" placeholder="Enter Confirm Password" formControlName="confirmPassword" 
                    [ngClass]="{ 'border-danger': changePasswordForm.get('newPassword')?.value !== changePasswordForm.get('confirmPassword')?.value && changePasswordForm.get('confirmPassword')?.touched}"/>
                    <div class="align-middle position-absolute cursor-pointer top-50 translate-middle-y end-0 pe-3" (click)="toggleVisibility('confirm')">
                        <i class="fa fs-11" [style.color]="isConfirmVisible ? 'darkblue' : 'gray'"[ngClass]="isConfirmVisible ? 'fa-eye' : 'fa-eye-slash'"></i>
                    </div>
                </div>
                <div *ngIf="changePasswordForm.get('newPassword')?.value !== changePasswordForm.get('confirmPassword')?.value && changePasswordForm.get('confirmPassword')?.touched" class="text-danger">
                    New and Confirm Passwords do not match.
                </div>
            </div>

                <button class="btn btn-primary rounded-sm w-100 mt-4" type="submit" [disabled]="changePasswordForm.invalid || changePasswordForm.get('newPassword')?.value !== changePasswordForm.get('confirmPassword')?.value">
                    DONE
                </button>
            </form>
        </div>
    </div>
</ng-template>