<div class="modal-body p-4">
    <div class="table-container">
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td><strong>Customer Name:</strong> {{ customerDetail?.customerName }}</td>
            <td><strong>Customer Code:</strong> {{ customerDetail?.customerCode }}</td>
          </tr>
          <tr>
            <td><strong>Email:</strong> {{ customerDetail?.emailId }}</td>
            <td><strong>Address:</strong> {{ customerDetail?.address }}</td>
          </tr>
          <tr>
            <td><strong>City:</strong> {{ customerDetail?.city }}</td>
            <td><strong>Pincode:</strong> {{ customerDetail?.pincode}}</td>
          </tr>
          <tr>
            <td><strong>State:</strong> {{ customerDetail?.state }}</td>
            <td><strong>Tenant ID:</strong> {{ customerDetail?.tenantId }}</td>
          </tr>
          <tr>
            <td colspan="2"><strong>Consolidated GSTNo:</strong> {{ customerDetail?.consolidatedGSTNo }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
<!--   
  
  <div class="modal-footer">
    <div class="hstack gap-2 justify-content-end">
      <button type="button" class="btn btn-square btn-light" data-bs-dismiss="modal">
        Close
      </button>
    </div>
  </div> -->
  