<div class="tap-top"><i data-feather="chevrons-up"></i></div>
<div class="page-wrapper compact-wrapper" id="pageWrapper">
    <div class="page-header">
      <app-header></app-header>
    </div>
  <div class="page-body-wrapper">
    <div class="sidebar-wrapper">
      <app-sidebar></app-sidebar>
    </div>
    <div class="page-body pt-0">
      <div class="container-fluid p-0">
          <router-outlet></router-outlet>
      </div>
    </div>
    <footer class="footer">
      <div class="container-fluid p-0">
        <app-footer></app-footer>
      </div>
    </footer>
  </div>
</div>
