.editDialog .modal-dialog {
    max-width: 50vw;
    right: -100vw;
    min-height: 100vh;
    margin: 0;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease !important;
}

.editDialog.show .modal-dialog {
    right: -50vw;
}

.editDialog .modal-content {
    min-height: inherit;
}

.editDialog .switch-outline .bg-danger:before {
    background-color: #f81f58;
}

.editDialog .switch-outline .bg-danger:after {
    color: #fff;
    opacity: 1;
}
.role-name{
    border: 1px solid rgb(235, 235, 235) ;
    border-radius: 4px;
    text-align: center;
    color: rgb(236, 236, 236);
    display: flex;
    justify-content: start;
    padding:5px 20px 5px 20px !important;
    width: 30%;
}

.bs-blue{
    background-color: #171829;
    color: rgb(233, 233, 233);
}
.modal-content{
    border: 0 !important;
}

.close{
    background: none !important;
    filter: invert(1) !important;
    border: antiquewhite !important;
}