<div class="modal-body p-4">
    <div class="table-container">
      <table class="table table-bordered table-striped">
        <tbody class="table-light">
          <tr class="table-th">
            <td><strong>Customer Name: </strong> {{ lspMappingsDetail?.customerName }}</td>
            <!-- <td><strong>Support Email Address: </strong> {{ lspMappingsDetail?.supportEmail }}</td> -->
          </tr>
            <tr class="table-th">
              <td colspan="2" class="d-flex align-items-center">
                <strong>LSP Name: </strong>&nbsp;
                <span *ngFor="let data of lspMappingsDetail?.lspResponses; let last = last">
                  {{ data.lspName }}<span *ngIf="!last">&nbsp;, &nbsp;&nbsp;</span>
                </span>
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  