<div class="modal-body p-4">
    <div class="table-container">
      <table class="table table-bordered table-striped">
        <tbody class="table-light">
          <tr class="table-th">
            <td><strong>Customer Name: </strong> {{ lspMappingsDetail?.customerName }}</td>
            <td><strong>Support Email Address: </strong> {{ lspMappingsDetail?.supportEmail }}</td>
          </tr>
            <tr class="table-th">
              <td colspan="2" class="d-flex">
                <strong>LSP Name : </strong>{{ lspMappingsDetail?.lspName}}
                <!-- <span *ngFor="let data of lspMappingsDetail?.lspResponses; let last = last">
                  &nbsp;{{ data.lspName }}<span *ngIf="!last"> , <br></span>
                </span> -->
              </td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  
  <!-- <div class="modal-footer">
    <div class="hstack gap-2 justify-content-end">
      <button type="button" class="btn btn-light" data-bs-dismiss="modal">
        Close
      </button>
    </div>
  </div> -->
  