    <div class="row" class="fade-in">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header pt-3 pb-0">
            <div class="row">
              <div class="col-sm-6">
                <!-- <h4>Users</h4> -->
              </div>
              <div class="col-sm-6" [ngClass]="{'disabled-image': !commonService.menuRoleList?.canCreate}">
                <button class="btn btn-square btn-primary pull-right rounded-3" type="button" (click)="openModal()">
                  <i class="icon-plus"></i> Add User
                </button>
              </div>
            </div>
          </div>
          <div class="card-body pt-3">
            <div class="table-responsive theme-scrollbar">
              <table class="table table-header align-middle w-100">
                <thead class="table-light">
                  <tr class="table-th">
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Roles</th>
                    <th class=" text-center">Active</th>
                    <th class=" text-center" *ngIf="commonService.menuRoleList?.canView || commonService.menuRoleList?.canEdit ||  commonService.menuRoleList?.canDelete">Action</th>
                  </tr>
                  <tr class="table-th">
                    <th><input type="text" class="form-control" [(ngModel)]="filters['firstName']" (input)="getUsers()"/></th>
                    <th><input type="text" class="form-control" [(ngModel)]="filters['emailId']" (input)="getUsers()"/></th>
                    <th><input type="text" class="form-control" [(ngModel)]="filters['phoneNumber']" (input)="getUsers()"/></th>
                    <th><input type="text" class="form-control" [(ngModel)]="filters['roleName']" (input)="getUsers()"/></th>
                    <th></th>
                    <th class=" text-center" *ngIf="commonService.menuRoleList?.canView || commonService.menuRoleList?.canEdit ||  commonService.menuRoleList?.canDelete">
                    </th>
                  </tr>
                </thead>
                <tbody class="customers w-100">
                  <ng-container *ngFor="let user of users; let i = index">
                    <tr class="customers w-100" [ngClass]="{'row-even-bg': i % 2 === 0, 'row-odd-bg': i % 2 !== 0,'hover-active': hoveredRow === i}" (mouseenter)="hoveredRow = i" (mouseleave)="hoveredRow = null">
                      <td>{{ user.firstName }}</td>
                      <td>{{ user.emailId }}</td>
                      <td>{{ user.phoneNumber }}</td>
                      <td>{{user.roles}}</td>
                      <td class=" text-center"><i
                          [ngClass]="user.isActive ?  'fa fa-check-square text-success' : 'fa fa-window-close text-danger'"></i>
                      </td>
                      <td class="p-2" *ngIf="commonService.menuRoleList?.canView || commonService.menuRoleList?.canEdit ||  commonService.menuRoleList?.canDelete">
                        <div class="cursor-pointer d-flex justify-content-center text-center gap-3 p-1">
                          <div [ngClass]="{'disabled-image': !commonService.menuRoleList?.canEdit}" [popover]="'Edit'" placement="auto"
                              triggers="hover" [outsideClick]="true" container="body">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgba(36,105,92,1)"
                              class="m-0" height="20" (click)="editModal($event, user.id)">
                              <path
                                d="M12.8995 6.85453L17.1421 11.0972L7.24264 20.9967H3V16.754L12.8995 6.85453ZM14.3137 5.44032L16.435 3.319C16.8256 2.92848 17.4587 2.92848 17.8492 3.319L20.6777 6.14743C21.0682 6.53795 21.0682 7.17112 20.6777 7.56164L18.5563 9.68296L14.3137 5.44032Z">
                              </path>
                            </svg>
                          </div>
                          <div [ngClass]="{'disabled-image': !commonService.menuRoleList?.canView}" [popover]="'View'" placement="auto"
                              triggers="hover" [outsideClick]="true" container="body">
                            <i class="ri-eye-fill align-bottom text-muted" (click)="usersDetail($event,user.id)"></i>
                          </div>
                          <div  [ngClass]="{'disabled-image': !commonService.menuRoleList?.canDelete}" [popover]="'Delete'"
                              placement="auto" triggers="hover" [outsideClick]="true" container="body">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgba(255,83,112,1)"
                              class="m-0" height="20" (click)="deleteUser(user.id)">
                              <path
                                d="M17 4H22V6H20V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V6H2V4H7V2H17V4ZM9 9V17H11V9H9ZM13 9V17H15V9H13Z">
                              </path>
                            </svg>
                          </div>
                          <div [popover]="'Resend Mail'" placement="auto"
                              triggers="hover" [outsideClick]="true" container="body">
                              <i class="fa-solid fa-envelope-circle-check" [ngClass]="{'disabled-image': !user.isMailSend}"  (click)="!user.isMailSend ? null : resendMail(user)"></i>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </ng-container>
                </tbody>
              </table>
                <div *ngIf="loading && users.length === 0" class="text-center border-found">
                  <lord-icon src="/assets/json/system-solid-716-spinner-three-dots-loop-scale.json"
                    trigger="loop" colors="primary:#121331,secondary:#08a88a"
                    style="width: 100px; height: 100px">
                  </lord-icon>
                </div>
                
                <!-- No Result Found -->
                <div *ngIf="!loading && users.length === 0" class="text-center border-found p-4">
                  <h5 class="mt-2">Sorry! No Result Found</h5>
                </div>
              <div class="d-flex justify-content-end mt-3">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="pageSize" [maxSize]="3"
                  (pageChange)="onPageChange($event)"></ngb-pagination>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
<div class="modal fade editDialog" id="exampleModalLong" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body" style="padding: 0px">
        <app-add-user (dataEmitter)="closeEditModal()" [userResponse]="selectedUser"></app-add-user>
      </div>
    </div>
  </div>
</div>

<div class="modal fade editDialog" id="usersDetail" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
              <div class="modal-header modal-header bs-blue d-flex justify-content-between">
                <h5 class="modal-title" id="exampleModalLabel">Users Detail</h5>
                <button data-bs-dismiss="modal" class="close"><i class="fa fa-close" ></i></button>
            </div>
            <div class="modal-body" style="padding:0px;">
              <users-detail [usersDetail]="selectedUser"></users-detail>
            </div>
        </div>
    </div>
</div>