<!-- menu-permissions.component.html -->
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <table class="table table-header table-bordered align-middle w-100">
                    <thead class="table-light">
                        <tr class="table-th">
                            <th> <input type="checkbox" class="form-check-input me-2" (change)="toggleAllRows($event)">Menu Name</th>
                            <th><input type="checkbox" class="form-check-input me-2" (change)="toggleColumn('view', $event)">View</th>
                            <th><input type="checkbox" class="form-check-input me-2" (change)="toggleColumn('create', $event)">Create</th>
                            <th><input type="checkbox" class="form-check-input me-2" (change)="toggleColumn('edit', $event)">Edit</th>
                            <th> <input type="checkbox" class="form-check-input me-2" (change)="toggleColumn('delete', $event)">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let menu of menus">
                            <td>  <input type="checkbox" class="form-check-input me-2" (change)="toggleRow(menu, $event)">{{ menu.menuName }}</td>
                            <td>
                                <input type="checkbox" class="form-check-input me-2" [(ngModel)]="menu.canView" 
                                    (change)="togglePermission(menu.menuId, 'view')">
                            </td>
                            <td>
                                <input type="checkbox" class="form-check-input me-2" [(ngModel)]="menu.canCreate"
                                    (change)="togglePermission(menu.menuId, 'create')">
                            </td>
                            <td>
                                <input type="checkbox" class="form-check-input me-2" [(ngModel)]="menu.canEdit"
                                    (change)="togglePermission(menu.menuId, 'edit')">
                            </td>
                            <td>
                                <input type="checkbox" class="form-check-input me-2" [(ngModel)]="menu.canDelete"
                                    (change)="togglePermission(menu.menuId, 'delete')">
                            </td>
        </tr>
    </tbody>
</table>

                <!-- Save button to trigger the savePermissions method -->
<button class="btn btn-primary mt-4" (click)="savePermissions()">Save Permissions</button>
            </div>
        </div>
    </div>
</div>