<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body pb-0">
                <table class="table table-header table-bordered align-middle w-100">
                    <thead class="table-light">
                        <tr class="table-th">
                            <th>
                                <input type="checkbox" class="form-check-input me-2" [(ngModel)]="allChecked"
                                    (change)="toggleAllRows($event)"> Menu Name
                            </th>
                            <th>
                                <input type="checkbox" class="form-check-input me-2" [(ngModel)]="allViewChecked"
                                    (change)="toggleColumn('canView')"> View
                            </th>
                            <th>
                                <input type="checkbox" class="form-check-input me-2" [(ngModel)]="allCreateChecked"
                                    (change)="toggleColumn('canCreate')"> Create
                            </th>
                            <th>
                                <input type="checkbox" class="form-check-input me-2" [(ngModel)]="allEditChecked"
                                    (change)="toggleColumn('canEdit')"> Edit
                            </th>
                            <th>
                                <input type="checkbox" class="form-check-input me-2" [(ngModel)]="allDeleteChecked"
                                    (change)="toggleColumn('canDelete')"> Delete
                            </th>
                              <th>
                                <input type="checkbox" class="form-check-input me-2" [(ngModel)]="allStatusUpdate"
                                    (change)="toggleColumn('canStatusUpdate')"> UpdStat
                            </th>
                             <th>
                                <input type="checkbox" class="form-check-input me-2" [(ngModel)]="allPod"
                                    (change)="toggleColumn('canPOD')"> POD
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let menu of menus">
                            <td>
                                <input type="checkbox" class="form-check-input me-2"
                                    [checked]="isAllPermissionsChecked(menu)"
                                    (change)="toggleRow(menu, $event)"> 
                                {{ menu.menuName }}
                            </td>
                            <td>
                                <input type="checkbox" class="form-check-input me-2" [(ngModel)]="menu.canView"
                                    (change)="updatePermissionCheckbox(menu)">
                            </td>
                            <td>
                                <input type="checkbox" class="form-check-input me-2" [(ngModel)]="menu.canCreate"
                                    (change)="updatePermissionCheckbox(menu)">
                            </td>
                            <td>
                                <input type="checkbox" class="form-check-input me-2" [(ngModel)]="menu.canEdit"
                                    (change)="updatePermissionCheckbox(menu)">
                            </td>
                            <td>
                                <input type="checkbox" class="form-check-input me-2" [(ngModel)]="menu.canDelete"
                                    (change)="updatePermissionCheckbox(menu)">
                            </td>
                            <td>
                                <ng-container *ngIf="menu.menuName.includes('Docket'); else noStatusUpdate">
                                    <input type="checkbox" class="form-check-input me-2" [(ngModel)]="menu.canStatusUpdate"
                                        (change)="updatePermissionCheckbox(menu)">
                                </ng-container>
                                <ng-template #noStatusUpdate>
                                    <span>-</span>
                                </ng-template>
                            </td>
                            
                            <td>
                                <ng-container *ngIf="menu.menuName.includes('Docket'); else noPOD">
                                    <input type="checkbox" class="form-check-input me-2" [(ngModel)]="menu.canPOD"
                                        (change)="updatePermissionCheckbox(menu)">
                                </ng-container>
                                <ng-template #noPOD>
                                    <span>-</span>
                                </ng-template>
                            </td>

                        </tr>
                    </tbody>
                </table>
                <button class="btn btn-square btn-primary pull-right rounded-3 mt-4" (click)="savePermissions()">Save Permissions</button>
            </div>
        </div>
    </div>
</div>
