<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="modal-header modal-header bs-blue d-flex justify-content-between">
        <h5 class="modal-title" id="exampleModalLabel">{{!userId ? 'Add User' : 'Update User'}}</h5>
        <button data-bs-dismiss="modal" class="close" (click)="onClose()"><i class="fa fa-close" ></i></button>
      </div>
      <div class="card-body pt-4 pb-0">
        <form [formGroup]="userForm" class="needs-validation" autocomplete="off" (submit)="onSubmitUser(userForm)">
          <div class="tab-content" id="info-tabContent">
            <div class="tab-pane fade active show" id="basic-info" role="tabpanel" aria-labelledby="basic-info-tab">
              <div class="row g-3">
                <!-- <div class="col-md-4 mb-11">
                  <label class="col-form-label">Customer Name</label>
                  <input class="form-control" formControlName="customerName" type="text" required placeholder="Enter Customer Name"/>
                </div> -->
                
                <div class="col-md-4 mb-11">
                  <label class="col-form-label">First Name</label>
                  <input class="form-control" formControlName="firstName" type="text" required placeholder="Enter First Name"
                    [ngClass]="{ 'border-danger': userForm.controls['firstName'].invalid && userForm.controls['firstName'].touched}" />
                  <div *ngIf="userForm.controls['firstName'].invalid && userForm.controls['firstName']?.touched" class="text-danger">
                    <small *ngIf="userForm.controls['firstName'].errors?.['required']">Firstname is required.</small>
                  </div>
                </div>
                <div class="col-md-4 mb-11">
                  <label class="col-form-label">Last Name</label>
                  <input class="form-control" formControlName="lastName" type="text"  placeholder="Enter Last Name" />
                </div>
                <div class="col-md-4">
                  <label class="col-form-label">Email Address</label>
                  <input class="form-control" [readonly]="userId != ''" formControlName="emailId" type="text" required placeholder="Enter Email Address"
                    [ngClass]="{ 'border-danger': userForm.controls['emailId'].invalid && userForm.controls['emailId'].touched}" />
                  <div *ngIf=" userForm.controls['emailId'].invalid && userForm.controls['emailId']?.touched" class="text-danger">
                    <small *ngIf="userForm.controls['emailId'].errors?.['required']">Email is required.</small>
                    <small *ngIf="userForm.controls['emailId'].errors?.['pattern']">Email is invalid.</small>
                  </div>
                </div>
                <div class="col-md-4">
                  <label class="col-form-label">Phone number</label>
                  <input class="form-control" maxlength="10" formControlName="phoneNumber" type="text" required placeholder="Enter Phone number"
                    [ngClass]="{ 'border-danger': userForm.controls['phoneNumber'].invalid && userForm.controls['phoneNumber'].touched}" />
                  <div *ngIf="userForm.controls['phoneNumber'].invalid && userForm.controls['phoneNumber']?.touched" class="text-danger">
                    <small *ngIf="userForm.controls['phoneNumber'].errors?.['required']">Phone Number is
                      required.</small>
                    <small *ngIf="userForm.controls['phoneNumber'].errors?.['pattern']">Phone Number is invalid.</small>
                  </div>
                </div>
                <!-- <div class="col-md-4">
                  <label class="col-form-label">User type</label>
                  <input class="form-control"  formControlName="userType" type="text" placeholder="Enter User type" readonly/>
                </div> -->
                <div class="col-md-4 mb-11">
                  <label class="col-form-label">Session Time (Minutes)</label>
                  <input class="form-control" formControlName="sessionTime" type="number" min="1" max="60" placeholder="Enter Session Time"/>
                  <small *ngIf="userForm.get('sessionTime')?.errors?.['min'] && userForm.get('sessionTime')?.touched" class="text-danger">
                      Session Time should be minimum 1 hour.
                    </small>
                    <small *ngIf="userForm.get('sessionTime')?.errors?.['max'] && userForm.get('sessionTime')?.touched" class="text-danger">
                      Session Time should be minimum 1 hour.
                    </small>
                </div>
                <!-- <div class="col-md-4 mb-11">
                  <label class="col-form-label">Location</label>
                  <input class="form-control" formControlName="location" type="text"  placeholder="Enter Location"/>
                </div>
                <div class="col-md-4">
                  <label class="col-form-label">Locality</label>
                  <input class="form-control"  formControlName="locality" type="text"  placeholder="Enter Locality" /> 
                </div> -->
                <div class="col-md-4">
                  <label class="col-form-label">City</label>
                  <input class="form-control"  formControlName="city" type="text" required placeholder="Enter City"
                    [ngClass]="{ 'border-danger': userForm.controls['city'].invalid && userForm.controls['city'].touched}" />
                  <div *ngIf="userForm.controls['city'].invalid && userForm.controls['city']?.touched" class="text-danger">
                    <small *ngIf="userForm.controls['city'].errors?.['required']">City is
                      required.</small>
                  </div>
                </div>
                <div class="col-md-8">
                  <label class="col-form-label">Address</label>
                  <textarea class="form-control" rows="1"  formControlName="address" type="text" required placeholder="Enter Address"
                    [ngClass]="{ 'border-danger': userForm.controls['address'].invalid && userForm.controls['address'].touched}"></textarea>
                  <div *ngIf="userForm.controls['address'].invalid && userForm.controls['address']?.touched" class="text-danger">
                    <small *ngIf="userForm.controls['address'].errors?.['required']">Address is
                      required.</small>
                  </div>
                </div>
                <div class="col-md-4">
                  <label class="col-form-label">Pincode</label>
                  <input class="form-control" maxlength="6" formControlName="zipCode" type="text" placeholder="Enter Pin Code"  
                  [ngClass]="{ 'border-danger': userForm.controls['zipCode'].invalid && userForm.controls['zipCode'].touched}"/>
                  <div *ngIf="userForm.controls['zipCode'].invalid && userForm.controls['zipCode']?.touched" class="text-danger">
                    <small *ngIf="userForm.controls['zipCode'].errors?.['required']">Pincode is
                      required.</small>
                   <small *ngIf="userForm.controls['zipCode'].errors?.['pattern']">Pincode is invalid.</small>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="form-group">
                    <label for="photo">Photo</label>
                    <input type="file" class="form-control" id="photo" name="photo" placeholder="Enter Photo"  (change)="onFileChange($event)" formControlName="photo"
                      accept="image/*"
                      [ngClass]="{ 'border-danger': userForm.controls['photo'].invalid && userForm.controls['photo'].touched }" />
                    <div *ngIf="userForm.controls['photo'].invalid && userForm.controls['photo'].touched" class="text-danger">
                      Please upload a photo.
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group">
                    <label for="roles">Roles</label>
                    <ng-select [items]="roles" bindLabel="roleName" bindValue="roleName" formControlName="roles" [readonly]="userId != ''"
                      placeholder="Select roles" [closeOnSelect]="false" [searchable]="true"
                      [ngClass]="{ 'border-danger': userForm.controls['roles'].invalid && userForm.controls['roles'].touched}">
                    </ng-select>
                    <div *ngIf="userForm.controls['roles'].invalid && userForm.controls['roles'].touched" class="text-danger">
                      Please select at least one role.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="checkbox p-0" *ngIf="userId != ''">
            <input id="dafault-checkbox" type="checkbox" formControlName="isActive" />
            <label class="mb-0" for="dafault-checkbox">Active</label>
          </div>
          <div class="gap-2 d-flex justify-content-end pt-4">
            <!-- <button class="btn btn-square btn-success pull-right rounded-3" type="submit"><i class="fa fa-check"></i> Submit</button>&nbsp; -->
            <button class="btn btn-square btn-success pull-right rounded-3" type="submit" [disabled]="isLoading">
                            <i *ngIf="!isLoading" class="fa fa-check"></i>
                            <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
                            {{ isLoading ? 'Submitting...' : 'Submit' }}
                        </button>&nbsp; 
            <button class="btn btn-square btn-danger pull-right rounded-3" type="reset" *ngIf="!userId"><i class="fa fa-times"></i> Reset</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>