<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="modal-header bs-blue d-flex justify-content-between">
        <h5 class="modal-title" id="exampleModalLabel">Import Docket</h5>
        <button data-bs-dismiss="modal" class="close" (click)="onClose()">
          <i class="fa fa-close"></i>
        </button>
      </div>
      <div class="card-body pt-2 pb-0">
        <div class="row">
          <div class="col-sm-12">
            <div class="card mb-0">
              <div class="card-body px-0 py-3">
                <ngx-dropzone class="dropzone dropzone-info" [multiple]="true" (change)="onChangeFile($event)">
                  <ngx-dropzone-label>
                    <div class="dz-message needsclick">
                      <i class="icon-cloud-up"></i>
                      <h6>Drop files here or click to upload.</h6>
                      <span class="note needsclick">
                        (This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)
                      </span>
                    </div>
                  </ngx-dropzone-label>
                  <ngx-dropzone-preview *ngFor="let file of files" [file]="file" (removed)="onRemoveFile(file)"
                    [removable]="true">
                    <ngx-dropzone-label>{{ file.name }}</ngx-dropzone-label>
                  </ngx-dropzone-preview>
                </ngx-dropzone>

              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-end pt-3 gap-2">
          <button class="btn btn-square btn-primary pull-right rounded-3" (click)="downloadSampleFile($event)">Download
            Import Template</button>
          <button class="btn btn-square btn-success rounded-3" (click)="uploadDocketFile()">Upload</button>
        </div>
          <div *ngIf="validateData.length > 0" class="overflow-y h-100 px-2 mt-4">
            <table class="table mt-3 table-bordered excelData-table w-100">
              <thead class="table-light sticky-top">
                <tr>
                  <th class="text-center fontSize single-line">Docket No</th>
                  <th class="text-center fontSize single-line">LSP Name</th>
                  <th class="text-center fontSize single-line">Upload Date</th>
                  <th class="text-center fontSize single-line">Invoice no </th>
                  <th class="text-center fontSize single-line">Date</th>
                  <th class="text-center fontSize single-line">From Location</th>
                  <th class="text-center fontSize single-line">TO Location</th>
                  <th class="text-center fontSize single-line">Quantity</th>
                  <th class="text-center fontSize single-line">Mode of Transporter</th>
                  <th class="text-center fontSize single-line">Error/success Message</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of validateData" [ngClass]="data.errorCode ?'pink':'green'">
                  <td class="text-center fontSize">{{ data.docketNo }}</td>
                  <td class="text-center fontSize">{{data.lspName}}</td>
                  <td class="text-center fontSize">{{ data.date}}</td>
                  <td class="text-center fontSize">{{data.invoiceNo}}</td>
                  <td class="text-center fontSize">{{data.date}}</td>
                  <td class="text-center fontSize">{{data.fromLocation}}</td>
                  <td class="text-center fontSize">{{data.toLocation}}</td>
                  <td class="text-center fontSize">{{data.quantity}}</td>
                  <td class="text-center fontSize">{{data.modeOfTransporter}}</td>
                  <td class="text-center fontSize">{{data.errorMessage}}</td>
                </tr>
              </tbody>
            </table>
          </div>
      </div>
    </div>
  </div>