<div class="modal-body p-4">
    <div class="table-container">
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td><strong>First Name:</strong> {{ usersDetail?.firstName ? usersDetail?.firstName : '--' }}</td>
            <td><strong>Last Name:</strong> {{ usersDetail?.lastName ? usersDetail?.lastName : '--' }}</td>
          </tr>
          <tr>
            <td><strong>Email:</strong> {{ usersDetail?.emailId ? usersDetail?.emailId : '--' }}</td>
            <td><strong>Phone number:</strong> {{ usersDetail?.phoneNumber ? usersDetail?.phoneNumber : '--' }}</td>
          </tr>
          <tr>
            <td><strong>Roles:</strong> {{ usersDetail?.roles ? usersDetail?.roles : '--' }}</td>
            <td><strong>User type:</strong> {{ usersDetail?.userType ? usersDetail?.userType : '--' }}</td>
          </tr>
          <tr>
            <td><strong>Session Time:</strong> {{ usersDetail?.sessionTime ? usersDetail?.sessionTime : 0 }}</td>
            <td><strong>Pincode:</strong> {{ usersDetail?.zipCode ? usersDetail?.zipCode : '--' }}</td>
          </tr>
          <tr>
            <td class="w-50"><strong>City:</strong> {{ usersDetail?.city ? usersDetail?.city : '--' }}</td>
            <td class="w-50"><strong>Address:</strong> {{ usersDetail?.address ? usersDetail?.address : '--' }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>