<div class="page-wrapper">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-12">
        <div class="login-card">
          <div>
            <div><a class="logo" href="index.html"><img class="img-fluid for-light"
                  src="../assets/images/logo/logo2.png" alt="looginpage"></a></div>
            <div class="login-main">
              <form class="theme-form">
                <h4>Reset Your Password</h4>
                <div class="form-group">
                  <label class="col-form-label">Enter Your Email Address</label>
                  <div class="row">
                    <div class="col-12 col-sm-12">
                      <input class="form-control mb-1" type="email" placeholder="Enter Your Email">
                    </div>
                    <div class="col-12">
                      <div class="text-end">
                        <button class="btn btn-primary btn-block m-t-10" type="submit">Send</button>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="form-group">
                  <label class="col-form-label pt-0">Enter OTP</label>
                  <div class="row">
                    <div class="col">
                      <input class="form-control text-center opt-text" type="text" maxlength="1" #d1
                        (input)="d1.value && d2.focus()" (keydown.backspace)="!d1.value ? d1.blur() : null">
                    </div>
                    <div class="col">
                      <input class="form-control text-center opt-text" type="text" maxlength="1" #d2
                        (input)="d2.value && d3.focus()" (keydown.backspace)="!d2.value ? d1.focus() : null">
                    </div>
                    <div class="col">
                      <input class="form-control text-center opt-text" type="text" maxlength="1" #d3
                        (input)="d3.value && d4.focus()" (keydown.backspace)="!d3.value ? d2.focus() : null">
                    </div>
                    <div class="col">
                      <input class="form-control text-center opt-text" type="text" maxlength="1" #d4
                        (input)="d4.value && d5.focus()" (keydown.backspace)="!d4.value ? d3.focus() : null">
                    </div>
                    <div class="col">
                      <input class="form-control text-center opt-text" type="text" maxlength="1" #d5
                        (input)="d5.value && d6.focus()" (keydown.backspace)="!d5.value ? d4.focus() : null">
                    </div>
                    <div class="col">
                      <input class="form-control text-center opt-text" type="text" maxlength="1" #d6
                        (keydown.backspace)="!d6.value ? d5.focus() : null">
                    </div>
                  </div>
                  <div class="mt-4 mb-4"><span class="reset-password-link">If don't receive OTP?<a
                                        class="btn-link text-danger">Resend</a></span></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>