<div class="modal-body p-4">
    <div class="table-container">
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td><strong>Docket No:</strong> {{ docketDetail?.docketNo }}</td>
            <td><strong>Invoice No:</strong> {{ docketDetail?.invoiceNo }}</td>
          </tr>
          <tr>
            <td><strong>From WH/Store:</strong> {{ docketDetail?.fromLocation }}</td>
            <td><strong>To WH/Store:</strong> {{ docketDetail?.toLocation }}</td>
          </tr>
          <tr>
            <td class="w-50"><strong>Transporter:</strong> {{ docketDetail?.transporterDesc }}</td>
            <td class="w-50"><strong>Transport Mode:</strong> {{ docketDetail?.transportModeDesc}}</td>
          </tr>
          <tr>
            <td><strong>Booking Date:</strong> {{ docketDetail?.bookingDate | date:'dd/MM/yyyy' }}</td>
            <td><strong>Quantity:</strong> {{ docketDetail?.quantity }}</td>
          </tr>
          <tr *ngIf="docketDetail?.podLink !== '-' && userRoles !=='lsp Admin'" >
            <td>
              <strong>POD Image :</strong> &nbsp;
              <i class="fa fa-eye" style="cursor: pointer; color: #007bff;" (click)="openPodModal()" [popover]="'View POD'" placement="auto" triggers="hover" [outsideClick]="true" container="body"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

<div class="custom-modal d-flex justify-content-center align-items-center" [class.show]="showPodImage" (click)="closePodModal()"
  [style.pointerEvents]="showPodImage ? 'auto' : 'none'">
  <div class="custom-modal-content" (click)="$event.stopPropagation()">
    <span class="custom-close" (click)="closePodModal()">×</span>
    <img [src]="docketDetail?.podLink" alt="POD Image" />
  </div>
</div>
