    <div class="row">
      <div class="col-sm-12">
        <div class="bg-white">
          <div class="card no-shadow m-0">
            <div class="card-header pt-4 pb-2">
              <div class="row fade-in">
                <div class="col-sm-6">
                  <div class="row d-flex align-items-center">
                    <div class="col-auto">
                        <label class="col-form-label">Date Range</label>
                    </div>
                    <div class="col">
                      <!-- <input type="text" placeholder="Daterangepicker" class="form-control" bsDaterangepicker
                          [(ngModel)]="docketService.dateRange" [bsConfig]="{ ranges: docketService.ranges ,rangeInputFormat: 'DD.MM.YYYY', dateInputFormat:'DD.MM.YYYY'}"> -->
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="gap-3 d-flex justify-content-end" >
                    <div [ngClass]="{'disabled-image': !commonService.menuRoleList?.canCreate}" >
                      <button class="btn btn-square btn-primary pull-right rounded-3"type="button"  (click)="openModal()">
                        <i class="icon-plus"></i> Add Docket
                      </button>
                    </div>
                    <div [ngClass]="{'disabled-image': !commonService.menuRoleList?.canCreate}">
                    <button class="btn btn-square btn-success pull-right rounded-3" type="button" (click)="openImportModal($event)">
                      <i class="icon-upload"></i> Import Docket
                    </button>
                  </div>
                  <button class="btn btn-square btn-danger pull-right rounded-3" [disabled]="isLoadingDocketList"
                    (click)="!isLoadingDocketList && downloadDocketList()">
                    <ng-container *ngIf="!isLoadingDocketList; else loadings">
                      <i class="fa fa-download"></i>
                    </ng-container>
                    <ng-template #loadings>
                      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    </ng-template>
                  </button>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body pt-3 ">
              <div class="table-responsive theme-scrollbar">
                <table class="table table-header align-middle w-100">
                  <thead class="table-light">
                    <tr class="table-th">
                      <th>Docket Name</th>
                      <th *ngIf="!userRoles.includes('lsp Admin')">Transporter</th>
                      <th *ngIf="!userRoles.includes('Customer Admin')">Customer Name</th>
                      <th>From WH/Store</th>
                      <th>To WH/Store</th>
                      <th>Transport Mode</th>
                      <th>Current Status</th>
                      <th>Quantity</th>
                      <th>Action</th>
                    </tr>
                    <tr class="table-th">
                      <th><input type="text" class="form-control" [(ngModel)]="filters['DocketNo']" (input)="getDockets()" /></th>
                      <th *ngIf="!userRoles.includes('lsp Admin')">
                        <input type="text" class="form-control" [(ngModel)]="filters['Transporter']" (input)="getDockets()" />
                      </th>
                      <th *ngIf="!userRoles.includes('Customer Admin')">
                        <input type="text" class="form-control" [(ngModel)]="filters['CustomerName']" (input)="getDockets()" />
                      </th>
                      <th><input type="text" class="form-control" [(ngModel)]="filters['FromLocation']" (input)="getDockets()" />
                      </th>
                      <th><input type="text" class="form-control" [(ngModel)]="filters['ToLocation']" (input)="getDockets()" />
                      </th>
                      <th><input type="text" class="form-control" [(ngModel)]="filters['TransportMode']" (input)="getDockets()" />
                      </th>
                      <th><input type="text" class="form-control" [(ngModel)]="filters['CurrentStatus']" (input)="getDockets()" />
                      </th>
                      <th><input type="text" class="form-control" [(ngModel)]="filters['Quantity']" (input)="getDockets()" /></th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody class="customers">
                     <ng-container *ngFor="let docket of dockets; let i = index">
                       <tr class="customers w-100" [ngClass]="{'row-even-bg': i % 2 === 0, 'row-odd-bg': i % 2 !== 0,'hover-active': hoveredRow === i}" (mouseenter)="hoveredRow = i" (mouseleave)="hoveredRow = null">
                         <td>{{ docket.docketNo }}</td>
                         <td *ngIf="!userRoles.includes('lsp Admin')">{{ docket.transporterDesc }}</td>
                         <td *ngIf="!userRoles.includes('Customer Admin')">{{ docket.customerName }}</td>
                         <td>{{ docket.fromLocation }}</td>
                         <td>{{ docket.toLocation }}</td>
                         <td>{{ docket.transportModeDesc }}</td>
                         <td>{{ docket.currentStatusDesc }}</td>
                         <td class="text-center">{{ docket.quantity }}</td>
                         <td class="p-2">
                           <div class="cursor-pointer d-flex justify-content-center text-center gap-3 p-1">
                             <div (click)="docket.podLink !=='-'  ? null : editModal($event, docket, 'edit')"
                               [ngClass]="{'disabled-image': !commonService.menuRoleList?.canEdit, 'disabled-icon': docket.podLink !=='-'}" [popover]="'Edit'" placement="auto"
                               triggers="hover" [outsideClick]="true" container="body">
                               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgba(36,105,92,1)" class="m-0"
                                 height="20">
                                 <path
                                   d="M12.8995 6.85453L17.1421 11.0972L7.24264 20.9967H3V16.754L12.8995 6.85453ZM14.3137 5.44032L16.435 3.319C16.8256 2.92848 17.4587 2.92848 17.8492 3.319L20.6777 6.14743C21.0682 6.53795 21.0682 7.17112 20.6777 7.56164L18.5563 9.68296L14.3137 5.44032Z">
                                 </path>
                               </svg>
                             </div>
                             <div (click)="docketDetail($event,docket , 'view')"
                               [ngClass]="{'disabled-image': !commonService.menuRoleList?.canView}" [popover]="'View'" placement="auto"
                               triggers="hover" [outsideClick]="true" container="body">
                               <i class="ri-eye-fill align-bottom text-muted"></i>
                             </div>
                            <div class="delete-icon-wrapper position-relative"
                              [ngClass]="{'disabled-image': !commonService.menuRoleList?.canDelete,'disabled-icon': userRoles !== 'LSP Admin' ? docket.isCustomerCancelled : docket.isLSPCancelled}"
                              [popover]=" userRoles !== 'LSP Admin' ? (docket.isCustomerCancelled ? 'Pending from Approve' : (docket.isLSPCancelled ? 'Pending from Approve' : 'Delete'))
                                  : (docket.isLSPCancelled ? 'Pending from Approve': (docket.isCustomerCancelled ? 'Pending from Approve' : 'Delete'))"
                              placement="auto" triggers="hover" [outsideClick]="true" container="body">
                              <!-- Notification dot -->
                              <div *ngIf="(userRoles === 'LSP Admin' && docket.isCustomerCancelled) || (userRoles === 'Customer Admin' && docket.isLSPCancelled)" class="notification-dot"></div>
                              <!-- Delete Icon -->
                              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="rgba(255,83,112,1)" class="m-0" height="20"
                                (click)="deleteModal(docket.docketId, docket)">
                                <path
                                  d="M17 4H22V6H20V21C20 21.5523 19.5523 22 19 22H5C4.44772 22 4 21.5523 4 21V6H2V4H7V2H17V4ZM9 9V17H11V9H9ZM13 9V17H15V9H13Z">
                                </path>
                              </svg>

                              
                            </div>
                             <div (click)="docket.currentStatus === '6' || !docket.isLspTatActive? null : openStatusUpdateModal(docket , 'StatusUpdate')"
                               [ngClass]="{'disabled-image': !commonService.menuRoleList?.canstatusUpdate,'disabled-icon': docket.currentStatus === '6' || !docket.isLspTatActive}"
                               [popover]="docket.currentStatus === '6' ? 'Status is already Delivered' :!docket.isLspTatActive ?'Currently lsp tat is inactive.':'Status Update'" placement="auto" triggers="hover" [outsideClick]="true" container="body">
                               <img src="/assets/images/update.png" width="23" height="22">
                             </div>
                             <div
                               (click)="docket.currentStatus !== '6' || (docket.currentStatus === '6' && docket.podLink !== '-') || !docket.isLspTatActive ? null : openPodUpdateModal(docket)"
                               [ngClass]="{'disabled-image': !commonService.menuRoleList?.canPOD, 'disabled-icon': docket.currentStatus !== '6' || (docket.currentStatus === '6' && docket.podLink !== '-') || !docket.isLspTatActive}"
                               [popover]="docket.currentStatus !== '6' ? 'Current status is not Delivered yet' : (docket.currentStatus === '6' && docket.podLink !== '-') ? 'POD Already Upload' : !docket.isLspTatActive ? 'Currently lsp tat is inactive.': 'POD Upload'"
                               placement="auto" triggers="hover" [outsideClick]="true" container="body">
                               <img src="/assets/images/pod.svg" width="37" height="27">
                             </div>
                             <div (click)="docket.podLink ==='-'  ? null : openPOD(Templatepod,docket)"
                               [ngClass]="{'disabled-image': !userRoles.includes('Customer Admin') ,'disabled-icon': docket.podLink ==='-'}"
                               [popover]="'POD View/Downloads'" placement="auto" triggers="hover" [outsideClick]="true" container="body">
                               <img src="/assets/images/file.svg" class="filter-contrast-50" width="25" height="22">
                             </div>
                           </div>
                         </td>
                       </tr>
                     </ng-container>
                  </tbody>
                </table>
              <div *ngIf="loading && dockets.length === 0" class="text-center border-found">
                <lord-icon src="/assets/json/system-solid-716-spinner-three-dots-loop-scale.json" trigger="loop"
                  colors="primary:#121331,secondary:#08a88a" style="width: 100px; height: 100px">
                </lord-icon>
              </div>
              <!-- No Result Found -->
              <div *ngIf="!loading && dockets.length === 0" class="text-center border-found p-4">
                <h5 class="mt-2">Sorry! No Result Found</h5>
                  </div>
              </div>
          
              <div class="d-flex justify-content-end mt-3">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="pageSize" [maxSize]="3" (pageChange)="onPageChange($event)">
                </ngb-pagination>
              </div>
          </div>
          </div>
        </div>
      </div>
    </div>
<div class="modal fade editDialog" id="exampleModalLong" tabindex="-1" role="dialog"
  aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body" style="padding: 0px">
        <app-add-docket (dataEmitter)="closeEditModal()" [docketResponse]="selectedDocket" [isSelected]="isSelected"></app-add-docket>
      </div>
    </div>
  </div>
</div>
<div class="modal fade editDialog" id="docketDetail" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
              <div class="modal-header bs-blue d-flex justify-content-between">
                <h5 class="modal-title" id="exampleModalLabel">Docket Detail</h5>
                <button data-bs-dismiss="modal" class="close" ><i class="fa fa-close" ></i></button>
            </div>
            <div class="modal-body" style="padding:0px;">
              <docket-detail [docketDetail]="selectedDocket"></docket-detail>
            </div>
        </div>
    </div>
</div>
<div class="modal fade editDialog" id="importModal" tabindex="-1" role="dialog"
  aria-labelledby="importModalTitle" aria-hidden="true">
  <div class="modal-dialog  modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body" style="padding: 0px">
        <app-import-docket  (dataEmitter)="closeImportModal()"></app-import-docket>
      </div>
    </div>
  </div>
</div>
<div class="modal fade editDialog" id="uploadModal" tabindex="-1" role="dialog"
  aria-labelledby="uploadModalTitle" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body" style="padding: 0px">
        <app-pod-upload  (dataEmitter)="closeUploadModal()"></app-pod-upload>
      </div>
    </div>
  </div>
</div>

<div class="modal fade in editDialog" id="showModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
      <div class="modal-content">
          <div class="modal-body" style="padding:0px;">
              <app-status-update [docketResponse]="selectedDocket" (dataEmitter)="closestatusupdateModal()"></app-status-update>
          </div>
      </div>
  </div>
</div>

<pod-status-upload #PodStatusUpload  (dataEmitter)="getDockets()"></pod-status-upload>

<ng-template #Templatepod>
  <div class="modal-content">
    <div class="modal-header bs-blue d-flex justify-content-between">
      <h5 class="modal-title">POD</h5>
      <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
        <i class="fa fa-close"></i>
      </button>
    </div>

    <div class="modal-body p-2 d-flex justify-content-center rounded align-items-center overflow-auto" style="max-height: 75vh;">
      <img [src]="selectedDocket?.podLink" alt="POD Image" class="img-fluid object-fit-contain"
        style="max-height: 70vh;" />
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-success" (click)="downloadPod(selectedDocket)">
        <i class="icon-download"></i> Download
      </button>
      <button type="button" class="btn btn-danger" (click)="modalRef.hide()">Cancel</button>
    </div>
  </div>
</ng-template>