.modal-header {
    display: flex;
    justify-content: space-between; /* Ensure title and close button are spaced */
    align-items: center; /* Center items vertically */
}
// .role-name{
//     border: 1px solid rgb(235, 235, 235) ;
//     border-radius: 4px;
//     text-align: center;
//     color: rgb(236, 236, 236);
//     display: flex;
//     justify-content: start;
//     padding:5px 20px 5px 20px !important;
//     width: 30%;
// }

.bs-blue{
    background-color: #171829;
    color: rgb(233, 233, 233);
}
.modal-content{
    border: 0 !important;
}

.close{
    background: none;
    filter: invert(1);
    border: antiquewhite;
}
  
  