   

<div class="container-fluid">
 <div class="row mb-3 d-flex">
    <div class="col-1">
      <label class="col-form-label">Date Range</label>
    </div>
    <div class="col-5">
      <div class="form-group mb-3">
        <input type="text" placeholder="Daterangepicker" class="form-control" bsDaterangepicker [(ngModel)]="dateRange"
          [bsConfig]="{rangeInputFormat: 'DD.MM.YYYY', dateInputFormat:
                     'DD.MM.YYYY',ranges: trackTraceService.ranges }">
      </div>
    </div>
    <!-- <div class="col-6">
       <button class="btn btn-square btn-primary pull-right rounded-3" [routerLink]="'list'">Track Dockets</button>
    </div> -->
  </div>

  <div class="row">
    <div class="col-sm-2 col-lg-2 " *ngFor="let data of data">
      <div class="dashboard-2">
        <div class="card o-hidden ">
        <div class="card-header pb-0 cursor-pointer" >
          <div class="d-flex">
            <div class="flex-grow-1">
              <p class="square-after f-w-600" [ngClass]="data.test">{{data.name}}<i class="fa fa-circle"> </i></p>
               <h4 [appCountUp]="data.count">{{data.count}}</h4>
            </div>
          <div class="d-flex static-widget">
            <i class="fas" [ngClass]="[data.icon, 'color-' + data.color]" style="font-size: 25px;"></i>
          </div>
          </div>
        </div>
        <div class="card-body pt-0">
          <div class="progress-widget">
            <div class="progress sm-progress-bar progress-animate">
              <div  [ngClass]="[data.progress]" role="progressbar" style="width: 75%" aria-valuenow="75"
                aria-valuemin="0" aria-valuemax="100"><span class="animate-circle"></span></div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div class="row pe-0">
      <div class="col-lg-9 col-md-12 box-col-7">
        <div class="card o-hidden p-3">
          <!-- <div class="card-header pb-0">
            <div class="d-flex">
              <div class="flex-grow-1">
                <h4>Marketing Expenses</h4>
              </div>
            </div>
          </div> -->
          <div class="row d-flex">
            <div class="col-1">
              <label class="col-form-label">Search</label>
            </div>
            <div class="col-5">
              <div class="form-group">
                <input type="text" placeholder="Search Here..." class="form-control">
              </div>
            </div>
          </div>
              <div class="pl-border-radius-10 overflow-hidden">
                <div class="table-responsive mt-3" style="height: 440px;">
                  <div class="layout-table">
                    <table class="w-100" [ngClass]="!dockets || !dockets.length ? 'h-100' : ''">
                      <thead class="sticky-top">
                        <tr>
                          <th class="w-15 ps-3">Docket Name</th>
                          <th class="w-15" *ngIf="userRoles.includes('Customer Admin')">Transporter</th>
                          <th class="w-15" *ngIf="!userRoles.includes('Customer Admin')">Customer Name</th>
                          <th class="w-15">From WH/Store</th>
                          <th class="w-15">To WH/Store</th>
                          <th class="w-10">Current Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let docket of dockets; let i = index">
                          <td class="w-15 ps-3">{{ docket.docketNo }}</td>
                          <td class="w-15" *ngIf="userRoles.includes('Customer Admin')">{{ docket.transporterDesc }}</td>
                          <td class="w-15" *ngIf="!userRoles.includes('Customer Admin')">{{ docket.customerName }}</td>
                          <td class="w-15">{{ docket.fromLocation }}</td>
                          <td class="w-15">{{ docket.toLocation }}</td>
                          <td class="w-10">{{ docket.currentStatusDesc }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-12 box-col-5 pe-0">
          <div class="container-fluid dashboard-2">
            <div class="card sell-card cursor-pointer" [routerLink]="'list'">
              <div class="card-header pb-0">
                <div class="d-flex justify-content-between">
                  <div class="flex-grow-1">
                    <p class="square-after f-w-600 header-text-success">Track Dockets<i class="fa fa-circle"> </i></p>
                    <h4 [appCountUp]="2490"></h4>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="d-flex">
                  <div class="flex-grow-1">
                    <div class="profit-wrapper header-text-success icon-bg-success"><i class="fa fa-arrow-up"></i></div>
                    <p class="mb-0">Click here to see more docket details..</p>
                  </div>
                </div>
                <div class="right-side icon-right-success"><i class="fa fa-shopping-basket"></i>
                  <div class="shap-block">
                    <div class="rounded-shap animate-bg-secondary"><i></i><i></i></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <div class="card o-hidden">
          <div class="card-header pb-0">
            <div class="d-flex">
              <div class="flex-grow-1">
                <h4>Transport Mode</h4>
              </div>
            </div>
          </div>
          <div class="bar-chart-widget">
            <div class="top-content bg-primary"></div>
            <div class="bottom-content card-body">
              <div class="row">
                <div class="col-12">
                  <div id="donutChart">
                    <apx-chart [series]="donutChartOptions.series" [chart]="donutChartOptions.chart"
                      [labels]="donutChartOptions.labels" [colors]="donutChartOptions.colors"
                      [legend]="donutChartOptions.legend" [dataLabels]="donutChartOptions.dataLabels"
                      [stroke]="donutChartOptions.stroke" [tooltip]="donutChartOptions.tooltip"
                      [responsive]="donutChartOptions.responsive">
                    </apx-chart>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-lg-12 col-md-12 box-col-5 pe-0">
        <div class="card o-hidden">
          <div class="card-header pb-0">
            <div class="d-flex">
              <div class="flex-grow-1">
                <h4>Marketing Expenses</h4>
              </div>
            </div>
          </div>
          <div class="bar-chart-widget">
            <div class="bottom-content card-body p-2">
              <div class="row">
                <div class="col-12">
                  <div id="chart">
                    <div *ngIf="chartOptions?.series">
                      <apx-chart [series]="chartOptions.series!" [chart]="chartOptions.chart!" [xaxis]="chartOptions.xaxis!"
                        [yaxis]="chartOptions.yaxis!" [dataLabels]="chartOptions.dataLabels!"
                        [plotOptions]="chartOptions.plotOptions!" [fill]="chartOptions.fill!"
                        [tooltip]="chartOptions.tooltip!" [stroke]="chartOptions.stroke!"
                        [legend]="chartOptions.legend!"></apx-chart>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
</div>