#donutChart{
    margin-bottom: 65px !important;
}

.color-red {
  color: #f81f58; /* bright red */
}

.color-orange {
  color: #eeb82f; /* orange */
}

.color-blue {
  color: #5c61f2; /* blue */
}

.color-purple {
  color: #4faad5; /* purple */
}

.color-teal {
  color: #e6ae30; /* teal */
}

.color-green {
  color: #61ae41; /* green */
}

.layout-table{
   thead {
      background: #f3f6f9;
 
      th {
         padding: 15px 0;
        color: #464e5f;
        white-space: nowrap;
      }
    } 
    tbody {
      background: #fbfcff;
      td {
        padding: 15px 0;
        color: #464e5f;

      }
}
}

.slide-in {
  animation: slideIn 0.6s forwards;
}

.slide-out {
  animation: slideOut 0.6s forwards;
}

@keyframes slideIn {
  from { transform: translateX(-100%);  }
  to { transform: translateX(0);  }
}

@keyframes slideOut {
  from { transform: translateX(0); }
  to { transform: translateX(100%);  }
}
