        <div class="header-wrapper p-0 row m-0">
          <div class="header-logo-wrapper col-auto py-3 px-3">
            <div class="toggle-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid"> </i></div>
            <div class="logo-header-main"><a href="index.html"><img class="img-fluid for-light img-100" src="../assets/images/logo/logo2.png" alt=""><img class="img-fluid for-dark" src="../assets/images/logo/logo.png" alt=""></a></div>
          </div>
          <div class="left-header col horizontal-wrapper ps-0">
            <div class="left-menu-header">
              <h4>{{ headerMenu }}</h4>
            </div>
          </div>
          <div class="nav-right col-6 pull-right right-header p-0">
            <ul class="nav-menus">
              <li class="serchinput">
                <div class="serchbox"><i data-feather="search"></i></div>
                <div class="form-group search-form">
                  <input type="text" placeholder="Search here...">
                </div>
              </li>
              <div class="profile-nav onhover-dropdown py-3 pe-4 ps-2 bg-colorheader">
                <div class="d-flex align-items-center">
                  <div class="account-user me-4"><i data-feather="user" class="filter-header"></i></div>
                  <div class="d-grid">
                    <span>{{email}}</span>
                  </div>
                </div>
                <ul class="profile-dropdown onhover-show-div">
                  <li><a><i data-feather="user"></i><span>Account</span></a></li>
                  <li><a><i data-feather="mail"></i><span>Inbox</span></a></li>
                  <li><a><i data-feather="settings"></i><span>Settings</span></a></li>
                  <li (click)="signout()"><a><i data-feather="log-in"> </i><span>Log Out</span></a></li>
                </ul>
              </div>
            </ul>
          </div>
          <script class="result-template" type="text/x-handlebars-template">
            <div class="ProfileCard u-cf">                        
            <div class="ProfileCard-avatar"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay m-0"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg></div>
            <div class="ProfileCard-details">
            <div class="ProfileCard-realName">{{name}}</div>
            </div>
            </div>
          </script>
          <script class="empty-template" type="text/x-handlebars-template"><div class="EmptyMessage">Your search turned up 0 results. This most likely means the backend is down, yikes!</div></script>
        </div>