<ng-template #Templatepod>
    <div class="modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header bs-blue d-flex justify-content-between">
          <h5 class="modal-title">POD Upload</h5>
          <button type="button" class="close" (click)="modalRef.hide()">
            <i class="fa fa-close"></i>
          </button>
        </div>
        <div class="modal-body">
          <form class="needs-validation" [formGroup]="podUpdateForm" autocomplete="off">
            <div class="tab-content">
              <div class="tab-pane fade active show">
                <div class="row g-3">
                  <div class="col-md-6">
                      <label>Docket Number</label>
                      <input class="form-control" type="text" formControlName="docketNo" readonly placeholder="Enter docket Number" readonly/>
                  </div>
                  <div class="col-md-6">
                      <label class="col-form-label">Customer</label>
                      <ng-select [items]="customers" bindLabel="customerName" bindValue="customerId" formControlName="customerId"
                        placeholder="Select Customer" [searchable]="true" readonly>
                      </ng-select>
                  </div>
                  <div class="col-md-6">
                      <label for="lsps">From WH/Store </label>
                      <input class="form-control" formControlName="fromLocation" type="text"  placeholder="Enter From WH/Store" readonly/>
                  </div>
                  <div class="col-md-6">
                      <label for="lsps">To WH/Store</label>
                      <input class="form-control" formControlName="toLocation" type="text"  placeholder="Enter To WH/Store" readonly/>
                  </div>
                  <div class="col-md-6">
                      <label for="lsps">Booking Date</label>
                      <input type="text" class="form-control" #dp="bsDatepicker"  placeholder="Enter To Booking Date"  formControlName="bookingDate" bsDatepicker [bsConfig]="{dateInputFormat:'DD.MM.YYYY'}" [class.disabled]="true">
                  </div>
                  <div class="col-md-6">
                    <label class="col-form-label">Invoice No.</label>
                    <input class="form-control" formControlName="invoiceNo" type="text" placeholder="Enter Invoice No" readonly/>
                  </div>
                  <div class="col-md-6">
                      <label for="lsps">Transporter</label>
                      <input class="form-control" formControlName="transporterDesc" type="text"  placeholder="Enter Transporter" readonly/>
                  </div>
                  <div class="col-md-6">
                      <label for="lsps">Transport Mode</label>
                      <input class="form-control" formControlName="transportModeDesc" type="text"  placeholder="Enter Transport Mode" readonly/>
                  </div>
                  <div class="col-md-6">
                    <label class="col-form-label">Quantity</label>
                    <input class="form-control" formControlName="quantity" type="text" placeholder="Enter Quantity" readonly/>
                  </div>
                  <div class="col-md-6">
                      <label for="lsps">Current Status</label>
                      <input class="form-control" formControlName="currentStatusDesc" type="text" placeholder="Enter Current Status" readonly/>
                  </div>
                  <div class="col-md-6">
                      <label>Upload Date</label>
                      <input type="text" class="form-control" formControlName="uploadDate" #dp="bsDatepicker" placeholder="Enter Upload Date" bsDatepicker
                        [bsConfig]="{ dateInputFormat: 'DD.MM.YYYY' }"  [placement]="'top'" [class.disabled]="isReadonlyMode?true:false"/>
                  </div>
                  <!-- <div class="col-md-6">
                      <label>POD</label>
                      <input class="form-control" formControlName="PODLink" type="file" accept="image/*" (change)="onFileSelected($event)"/>
                    </div> -->
                    <div class="col-md-6">
                      <label>POD</label>
                      <input class="form-control" formControlName="PODLink" type="file" accept="image/*"
                        (change)="onFileSelected($event)" *ngIf="!isReadonlyMode"/>
                      <div *ngIf="podImageUrl !== '-'" class="mt-2">
                          <img [src]="podImageUrl" alt="POD Image" class="img-thumbnail" style="min-width: 100%; height: 200px; object-fit: cover;" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <div class="gap-2 d-flex justify-content-end mb-3 mt-3" *ngIf="!isReadonlyMode">
              <!-- <button class="btn btn-success rounded-3" type="submit" (click)="onSavePOD()">
                <i class="fa fa-check"></i> Submit
              </button> -->
              <button class="btn btn-square btn-success pull-right rounded-3"  (click)="onSavePOD()" [disabled]="isLoading">
              <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
              <i *ngIf="!isLoading" class="fa fa-check me-1"></i>
              {{ isLoading ? 'Submitting...' : 'Submit' }}
            </button>&nbsp;
            </div>
          </form>
        </div>
      </div>
    </div>
  </ng-template>