<div class="row">
    <div class="col-sm-12">
      <div class="bg-white">
        <div class="card no-shadow m-0 py-3">
          <div class="card-body pt-2 pb-0">
            <div class="row fade-in mb-3">
              <div class="col-sm-12">
                <div class="card mb-0">
                  <div class="card-body px-0 py-0">
                    <ngx-dropzone (change)="onChangeFile($event)" class="dropzone dropzone-info">
                      <ngx-dropzone-label>
                        <div class="dz-message needsclick">
                          <i class="icon-cloud-up"></i>
                          <h6>Drop files here or click to upload.</h6>
                          <span class="note needsclick">
                            (Selected files are <strong>not</strong> actually uploaded.)
                          </span>
                        </div>
                      </ngx-dropzone-label>
                      <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                        <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
                      </ngx-dropzone-preview>
                    </ngx-dropzone>
                  </div>
                </div>
              </div>
            </div>
           
          <div class="overflow-y h-100 px-2 mt-4">
            <!-- Table to display Excel data -->
            <ng-container *ngIf="validateDocketStatusList.length > 0 && !loading;">
              <div *ngIf="validateDocketStatusList.length > 0" >
                <table class="table mt-3 table-bordered excelData-table w-100">
                  <thead class="table-light sticky-top">
                    <tr>
                      <th class="text-center">Docket No</th>
                      <th class="text-center">Next Docket Status</th>
                      <th class="text-center">Status Date</th>
                      <th class="text-center w-20">Reason</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of validateDocketStatusList" [ngClass]="!data.errorCode ?'pink':'green'">
                      <td class="text-center">{{ data.docketNumber}}</td>
                      <td class="text-center"> {{ data.nextDocketStatus.includes(':') ? data.nextDocketStatus.split(':')[1] :
                        data.nextDocketStatus }}</td>
                      <td class="text-center">{{ data.statusDate | date: 'dd-MM-yyyy' }}</td>
                      <td class="text-center">{{ data.errorCode===0?data.errorMessage:'success'}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </ng-container>
            <!-- Placeholder Table (shown if no data) -->
            <ng-container *ngIf="loading">
              <table class="table gray-table mt-3 table-bordered excelData-table w-100">
                <thead class="table-light sticky-top">
                </thead>
                <tbody>
                  <tr *ngFor="let i of [1,2,3,4]">
                    <td class="text-center">
                      <div class="bg-light placeholder w-75 mx-auto" style="height: 20px;"></div>
                    </td>
                    <td class="text-center">
                      <div class="bg-light placeholder w-75 mx-auto" style="height: 20px;"></div>
                    </td>
                    <td class="text-center">
                      <div class="bg-light placeholder w-50 mx-auto" style="height: 20px;"></div>
                    </td>
                    <td class="text-center">
                      <div class="bg-light placeholder w-100 mx-auto" style="height: 20px;"></div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </ng-container>
          </div>

          <div class="row pt-3 mt-3 gx-2 gy-2">
           <div class="col-12 col-md-auto ms-auto">
          <button class="btn w-100 btn-primary btn-square rounded-3" [disabled]="isLoadingTemplate"
            (click)="!isLoadingTemplate && downloadSampleFile($event)">
            <ng-container *ngIf="!isLoadingTemplate; else loadingDownload">
              <i class="fa fa-download me-1"></i> Download Import Template
            </ng-container>
        
            <ng-template #loadingDownload>
              <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
              Downloading...
            </ng-template>
          </button>
        </div>
            <div class="col-12 col-md-auto" *ngIf="!isValidData">
              <button class="btn w-100 btn-success btn-square rounded-3" [disabled]="files.length === 0" (click)="exportExcel()"> <i class="fa fa-upload me-1"></i> Upload</button>
            </div>
            <div class="col-12 col-md-auto" *ngIf="isValidData">
              <button type="button" class="btn w-100 btn-success btn-square rounded-3" (click)="onSave()"><i class="fa fa-save me-1"></i> Save</button>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  