<div class="row">
    <div class="col-sm-12">
      <div class="bg-white">
        <div class="card no-shadow m-0 py-3">
          <div class="card-body pt-2 pb-0">
            <!-- <div class="card-header d-flex align-items-center row justify-content-between p-0 pb-3">
              <h4 class="col-4">Select Status Update File</h4>
              <button class="btn col-2 btn-square btn-primary pull-right rounded-3"  (click)="downloadSampleFile($event)">Download Import Template</button>
            </div> -->
            <div class="row fade-in">
              <div class="col-sm-12">
                <div class="card mb-0">
                  <div class="card-body px-0 py-0">
                    <ngx-dropzone (change)="onChangeFile($event)" class="dropzone dropzone-info">
                      <ngx-dropzone-label>
                        <div class="dz-message needsclick">
                          <i class="icon-cloud-up"></i>
                          <h6>Drop files here or click to upload.</h6>
                          <span class="note needsclick">
                            (This is just a demo dropzone. Selected files are <strong>not</strong> actually uploaded.)
                          </span>
                        </div>
                      </ngx-dropzone-label>
                      <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                        <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
                      </ngx-dropzone-preview>
                    </ngx-dropzone>
                  </div>
                </div>
              </div>
            </div>
            
            <!-- Table to display Excel data -->
              <!-- <div *ngIf="statusUpdate.length > 0" class="overflow-y h-100 px-2 mt-4">
                <table class="table mt-3 table-bordered excelData-table">
                  <thead class="table-light">
                    <tr>
                      <th class="text-center">Docket No</th>
                      <th class="text-center">Upload Date</th>
                      <th class="text-center">ImageLink</th>
                      <th class="text-center">Reason</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let row of statusUpdate">
                      <td class="text-center">{{ row.DocketNo || 'N/A' }}</td>
                      <td class="text-center">{{ row.UploadDate ? row.UploadDate : 'Missing date' }}</td>
                       <td class="text-center"><i [ngClass]="row.ImageLink ? 'fa fa-check-square text-success' : 'fa fa-window-close text-danger'"></i></td>
                       <td class="text-center">{{ row.file && row.file.name ? 'Image attached': 'No Matches Images With DocketNumber'}}
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div> -->
            <div class="d-flex justify-content-end pt-3 mt-3 gap-2">
              <!-- <button class="btn col-2 btn-square btn-primary pull-right rounded-3"  (click)="downloadSampleFile($event)">Download Import Template</button> -->
              <a
            href="assets/uploads/Status_Import.xlsx"
            download="Status_Import.xlsx"
            class="btn btn-square btn-primary pull-right rounded-3"
          >
            Download Import Template
          </a>
              <button class="btn btn-square btn-success rounded-3" >Upload</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  