<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form [formGroup]="lspTatForm" class="needs-validation" autocomplete="off"
                    (submit)="onSubmitLspTat(lspTatForm)">
                    <ul class="nav nav-tabs border-tab nav-primary" id="info-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="basic-info-tab" data-bs-toggle="tab" href="#basic-info"
                                role="tab" aria-controls="basic-info" aria-selected="true">
                                <i class="icofont icofont-ui-home"></i>Basic Info
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="info-tabContent">
                        <div class="tab-pane fade active show" id="basic-info" role="tabpanel"
                            aria-labelledby="basic-info-tab">
                            <div class="row g-3">
                                <div class="col-md-6">
                                    <label class="col-form-label">Customer Name</label>

                                    <ng-select [items]="customers" bindLabel="customerName" bindValue="customerId"
                                        formControlName="customerId" placeholder="Select Customer">
                                    </ng-select>

                                    <div *ngIf="lspTatForm.controls['customerId'].invalid && lspTatForm.controls['customerId']?.touched"
                                        class="text-danger">
                                        <small *ngIf="lspTatForm.controls['customerId'].errors?.['required']">Customer
                                            is required.</small>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="col-form-label">Lsp Name</label>
                                    <ng-select [items]="lsps" bindLabel="lspName" bindValue="lspId"
                                        formControlName="lspId" placeholder="Select Lsp"
                                        [searchable]="true">
                                    </ng-select>
                                    <div *ngIf="lspTatForm.controls['lspId'].invalid && lspTatForm.controls['lspId']?.touched"
                                        class="text-danger">
                                        <small *ngIf="lspTatForm.controls['lspId'].errors?.['required']">Lsp
                                            is required.</small>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-11">
                                    <label class="col-form-label">Product</label>
                                    <input class="form-control" formControlName="product" type="text" required />
                                    <div *ngIf="lspTatForm.controls['product'].invalid && lspTatForm.controls['product']?.touched"
                                        class="text-danger">
                                        <small *ngIf="lspTatForm.controls['product'].errors?.['required']">
                                            Product
                                            is required.</small>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-11">
                                    <label class="col-form-label">Origin</label>
                                    <input class="form-control" formControlName="origin" type="text" required />
                                    <div *ngIf="lspTatForm.controls['origin'].invalid && lspTatForm.controls['origin']?.touched"
                                        class="text-danger">
                                        <small *ngIf="lspTatForm.controls['origin'].errors?.['required']">
                                            Origin
                                            is required.</small>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-11">
                                    <label class="col-form-label">Destination</label>
                                    <input class="form-control" formControlName="destination" type="text" required />
                                    <div *ngIf="lspTatForm.controls['destination'].invalid && lspTatForm.controls['destination']?.touched"
                                        class="text-danger">
                                        <small *ngIf="lspTatForm.controls['destination'].errors?.['required']">
                                            Destination
                                            is required.</small>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-11">
                                    <label class="col-form-label">Destination State</label>
                                    <input class="form-control" formControlName="destinationState" type="text"
                                        required />
                                    <div *ngIf="lspTatForm.controls['destinationState'].invalid && lspTatForm.controls['destinationState']?.touched"
                                        class="text-danger">
                                        <small *ngIf="lspTatForm.controls['destinationState'].errors?.['required']">
                                            Destination State
                                            name
                                            is required.</small>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-11">
                                    <label class="col-form-label">Priority</label>
                                    <input class="form-control" formControlName="priority" type="text" required />
                                    <div *ngIf="lspTatForm.controls['priority'].invalid && lspTatForm.controls['priority']?.touched"
                                        class="text-danger">
                                        <small *ngIf="lspTatForm.controls['priority'].errors?.['required']">Priority
                                            is required.</small>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-11">
                                    <label class="col-form-label">Booking Type</label>
                                    <input class="form-control" formControlName="bookingType" type="text" required />
                                    <div *ngIf="lspTatForm.controls['bookingType'].invalid && lspTatForm.controls['bookingType']?.touched"
                                        class="text-danger">
                                        <small *ngIf="lspTatForm.controls['bookingType'].errors?.['required']">Booking
                                            Type
                                            is required.</small>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-11">
                                    <label class="col-form-label">Mode</label>
                                    <input class="form-control" formControlName="mode" type="text" required />
                                    <div *ngIf="lspTatForm.controls['mode'].invalid && lspTatForm.controls['mode']?.touched"
                                        class="text-danger">
                                        <small *ngIf="lspTatForm.controls['mode'].errors?.['required']">Mode
                                            name
                                            is required.</small>
                                    </div>
                                </div>
                                <div class="col-md-6 mb-11">
                                    <label class="col-form-label">Tat</label>
                                    <input class="form-control" formControlName="tat" type="text" required />
                                    <div *ngIf="lspTatForm.controls['tat'].invalid && lspTatForm.controls['tat']?.touched"
                                        class="text-danger">
                                        <small *ngIf="lspTatForm.controls['tat'].errors?.['required']">Tat
                                            name
                                            is required.</small>
                                    </div>
                                </div>
                            </div>
                            <div class="checkbox p-0" *ngIf="lspTatId != ''">
                                <input id="dafault-checkbox" type="checkbox" formControlName="isActive"
                                    data-bs-original-title="" title="">
                                <label class="mb-0" for="dafault-checkbox">Active</label>
                            </div>
                        </div>
                    </div>
                    <div class="mt-2">
                        <button class="btn btn-success" data-bs-original-title="" type="submit" id="btnSubmit" title=""
                            [disabled]="lspTatForm.invalid"><i class="fa fa-check"></i> Submit</button>&nbsp;
                        <button class="btn btn-danger" type="reset"><i class="fa fa-times"></i> Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>