<div class="page-body-wrapper">
  <div class="sidebar-wrapper">
    <div>
      <div class="logo-wrapper">
        <a routerLink="/"><img class="img-fluid for-light" src="assets/images/logo/logo.png" alt=""></a>
        <div class="back-btn" (click)="toggleSidebar()">
          <i data-feather="grid"></i>
        </div>
        <div class="toggle-sidebar icon-box-sidebar" (click)="toggleSidebar()">
          <i class="status_toggle middle sidebar-toggle" data-feather="grid"></i>
        </div>
      </div>

      <div class="logo-icon-wrapper">
        <a routerLink="/">
          <div class="icon-box-sidebar"><i data-feather="grid"></i></div>
        </a>
      </div>

      <nav class="sidebar-main">
        <div class="left-arrow" id="left-arrow" (click)="scrollLeft()">
          <i data-feather="arrow-left"></i>
        </div>

        <div id="sidebar-menu">
          <ul class="sidebar-links" id="simple-bar">
            <li *ngFor="let data of menuss; let i = index" class="sidebar-list">
              <i class="fa fa-thumb-tack" (click)="togglePin(data.menuName)"></i>
              <a [routerLink]="[data.navigationUrl]" class="sidebar-link sidebar-title link-nav"
                routerLinkActive="active">
                <i [attr.data-feather]="data.icon"></i>
                <span>{{ data.menuName }}</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="right-arrow" id="right-arrow" (click)="scrollRight()">
          <i data-feather="arrow-right"></i>
        </div>
      </nav>
     </div>
    </div>
  </div>
