<div class="page-body-wrapper">
  <div class="sidebar-wrapper">
    <div>
      <div class="logo-wrapper"><a href="index.html"><img class="img-fluid for-light" src="assets/images/logo/logo.png"
            alt=""></a>
        <div class="back-btn"><i data-feather="grid"></i></div>
        <div class="toggle-sidebar icon-box-sidebar"><i class="status_toggle middle sidebar-toggle" data-feather="grid">
          </i></div>
      </div>
      <div class="logo-icon-wrapper"><a href="index.html">
          <div class="icon-box-sidebar"><i data-feather="grid"></i></div>
        </a></div>
      <nav class="sidebar-main">
        <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
        <div id="sidebar-menu">
          <ul class="sidebar-links" id="simple-bar">
            @for (data of menuss; track $index) {
            <li class="sidebar-list">
              <a [routerLink]="[data.navigationUrl]" class="sidebar-link sidebar-title link-nav">
                <i [attr.data-feather]="data.icon"></i>
                <span>{{ data.menuName }}</span>
              </a>
            </li>
            }
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>

<!-- <div class="sidebar-wrapper">
  <div>
      <div class="logo-wrapper"><a href="index.html"><img class="img-fluid for-light"
                  src="assets/images/logo/logo.png" alt=""></a>
          <div class="back-btn"><i data-feather="grid"></i></div>
          <div class="toggle-sidebar icon-box-sidebar"><i class="status_toggle middle sidebar-toggle"
                  data-feather="grid"> </i></div>
      </div>
      <div class="logo-icon-wrapper"><a href="index.html">
              <div class="icon-box-sidebar"><i data-feather="grid"></i></div>
          </a></div>
      <nav class="sidebar-main">
          <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
          <div id="sidebar-menu">
              <ul class="sidebar-links" id="simple-bar">
                  <li class="sidebar-list" *ngFor="let item of menus">
                      <i class="fa fa-thumb-tack"></i>
                      <a [routerLink]="[item.navigationUrl]" class="sidebar-link sidebar-title link-nav" >
                          <i class="fa {{item.icon}}" style="color:white"></i>
                          <span>{{item.menuName}}</span>
                      </a>
                  </li>
              </ul>
          </div>
          <div class="right-arrow" id="right-arrow"><i class="fa fa-arrow-right"></i></div>
      </nav>
  </div>
</div> -->