<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="modal-header bs-blue d-flex justify-content-between">
        <h5 class="modal-title" id="exampleModalLabel">{{!customerCode? 'Add Customer ':'Update Customer'}}</h5>
        <button data-bs-dismiss="modal" class="close" (click)="onClose()"><i class="fa fa-close" ></i></button>
      </div>
      <div class="card-body pb-0">
        <form [formGroup]="customerForm" class="needs-validation" autocomplete="off" (submit)="onSubmitCustomer(customerForm)">
          <ul class="nav nav-tabs border-tab nav-primary" id="info-tab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="basic-info-tab" data-bs-toggle="tab" href="#basic-info" role="tab"
                aria-controls="basic-info" aria-selected="true">
                <i class="icofont icofont-ui-home"></i>Basic Info
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="contact-info-tab" data-bs-toggle="tab" href="#contact-info" role="tab" aria-controls="contact-info"
                aria-selected="false">
                <i class="icofont icofont-contacts"></i>Contact Info
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="other-info-tab" data-bs-toggle="tab" href="#other-info" role="tab" aria-controls="other-info"
                aria-selected="false">
                <i class="icofont icofont-contacts"></i>Other Info
              </a>
            </li>
          </ul>
          <div class="tab-content" id="info-tabContent">
            <div class="tab-pane fade active show" id="basic-info" role="tabpanel" aria-labelledby="basic-info-tab">
              <div class="row g-3">
                <div class="col-md-4">
                  <label class="col-form-label">First Name</label>
                  <input class="form-control" formControlName="firstName" type="text" required placeholder="Enter First Name"
                    [ngClass]="{ 'border-danger': customerForm.controls['firstName'].invalid && customerForm.controls['firstName'].touched}" />
                  <div *ngIf="customerForm.controls['firstName'].invalid && customerForm.controls['firstName']?.touched" class="text-danger">
                    <small *ngIf="customerForm.controls['firstName'].errors?.['required']">First Name is required.</small>
                  </div>
                </div>
                <div class="col-md-4 mb-1">
                  <label class="col-form-label">Last Name</label>
                  <input class="form-control" formControlName="lastName" type="text" required  placeholder="Enter Last Name"
                    [ngClass]="{ 'border-danger': customerForm.controls['lastName'].invalid && customerForm.controls['lastName'].touched}" />
                  <div *ngIf="customerForm.controls['lastName'].invalid && customerForm.controls['lastName']?.touched" class="text-danger">
                    <small *ngIf="customerForm.controls['lastName'].errors?.['required']">Last Name is required.</small>
                  </div>
                </div>
          
                <div class="col-md-4">
                  <label class="col-form-label">Mobile No</label>
                  <input class="form-control" maxlength="10" formControlName="mobileNo" type="text"  placeholder="Enter Mobile No"
                    [ngClass]="{ 'border-danger': customerForm.controls['mobileNo'].invalid && customerForm.controls['mobileNo'].touched}" />
                  <div class="text-danger">
                    <small *ngIf="customerForm.controls['mobileNo'].errors?.['pattern']">Mobile No is invalid.</small>
                  </div>
                </div>
              </div>
              <div class="row g-3">
                <div class="col-md-4 mb-11">
                  <label class="col-form-label">Customer Name</label>
                  <input class="form-control" formControlName="customerName" type="text" required placeholder="Enter Customer Name"
                    [ngClass]="{ 'border-danger': customerForm.controls['customerName'].invalid && customerForm.controls['customerName'].touched}"
                    [readOnly]="customerCode ? true:false" />
                  <div *ngIf="customerForm.controls['customerName'].invalid && customerForm.controls['customerName']?.touched" class="text-danger">
                    <small *ngIf="customerForm.controls['customerName'].errors?.['required']">Customer name is required.</small>
                  </div>
                </div>
                <div class="col-md-4">
                  <label class="col-form-label">Email Address</label>
                  <input class="form-control" formControlName="emailId" type="text" required placeholder="Enter Email Address" [readOnly]="customerCode"
                    [ngClass]="{ 'border-danger': customerForm.controls['emailId'].invalid && customerForm.controls['emailId'].touched}" />
                  <div *ngIf="customerForm.controls['emailId'].invalid && customerForm.controls['emailId']?.touched" class="text-danger">
                    <small *ngIf="customerForm.controls['emailId'].errors?.['required']">Email is required.</small>
                    <small *ngIf="customerForm.controls['emailId'].errors?.['pattern']">Email is invalid.</small>
                  </div>
                </div>
                <div class="col-md-4">
                  <label class="col-form-label">City</label>
                  <input class="form-control" formControlName="city" type="text" required placeholder="Enter City"
                    [ngClass]="{ 'border-danger': customerForm.controls['city'].invalid && customerForm.controls['city'].touched}" />
                  <div *ngIf="customerForm.controls['city'].invalid && customerForm.controls['city']?.touched" class="text-danger">
                    <small *ngIf="customerForm.controls['city'].errors?.['required']">City is required.</small>
                  </div>
                </div>
              </div>
              <div class="row g-3">
                <div class="col-md-4 mb-1">
                  <label class="col-form-label">State</label>
                  <input class="form-control" formControlName="state" type="text" placeholder="Enter State"
                   />
                  <!-- <div *ngIf="customerForm.controls['state'].invalid && customerForm.controls['state']?.touched" class="text-danger">
                    <small *ngIf="customerForm.controls['state'].errors?.['required']">State is required.</small>
                  </div> -->
                </div>
          
                <div class="col-md-4">
                  <label class="col-form-label">Pincode</label>
                  <input class="form-control" maxlength="6" formControlName="pincode" type="text" required  placeholder="Enter pincode"
                    [ngClass]="{ 'border-danger': customerForm.controls['pincode'].invalid && customerForm.controls['pincode'].touched}" />
                  <div *ngIf="customerForm.controls['pincode'].invalid && customerForm.controls['pincode']?.touched" class="text-danger">
                    <small *ngIf="customerForm.controls['pincode'].errors?.['required']">Pincode is required.</small>
                    <small *ngIf="customerForm.controls['pincode'].errors?.['pattern']">Pincode is invalid.</small>
                  </div>
                </div>
                <div class="col-md-4">
                  <label class="col-form-label">Country</label>
                  <input class="form-control" formControlName="country" type="text" required  placeholder="Enter Country"
                    [ngClass]="{ 'border-danger': customerForm.controls['country'].invalid && customerForm.controls['country'].touched}" />
                  <div *ngIf="customerForm.controls['country'].invalid && customerForm.controls['country']?.touched" class="text-danger">
                    <small *ngIf="customerForm.controls['country'].errors?.['required']">City is required.</small>
                  </div>
                </div>
              </div>
              <div class="row g-3">
                <div class="col-md-4">
                  <label class="col-form-label">Address</label>
                  <textarea class="form-control" formControlName="address" type="text" required placeholder="Enter Address"
                    [ngClass]="{ 'border-danger': customerForm.controls['address'].invalid && customerForm.controls['address'].touched}"></textarea>
                  <div *ngIf="customerForm.controls['address'].invalid && customerForm.controls['pincode']?.touched"
                    class="text-danger">
                    <small *ngIf="customerForm.controls['address'].errors?.['required']">Address is required.</small>
                  </div>
                </div>
              
                <div class="col-md-4">
                  <label class="col-form-label">Logo</label>
                  <div class="d-flex align-items-center input-group border-found rounded"
                    [ngClass]="{ 'border-danger': customerForm.controls['logo'].invalid && customerForm.controls['logo'].touched}">
                    <label class="input-group-text border-0 mb-0">
                      Choose File
                      <input id="file" type="file" (change)="onFileChange($event)" accept="image/*" formControlName="file" hidden />
                    </label>
                    <span class="ms-2">{{ selectedFileName || 'No file chosen' }}</span>
                  </div>
                  <div *ngIf="fileError" class="text-danger">
                    {{ fileError }}
                  </div>
                  <div *ngIf="customerForm.controls['logo'].invalid && customerForm.controls['logo']?.touched" class="text-danger">
                    <small *ngIf="customerForm.controls['logo'].errors?.['required']">file is required.</small>
                  </div>
                  <!-- Image Preview Section -->
                  <div *ngIf="imagePreview" class="mt-4">
                    <h6>Logo Preview:</h6>
                    <img [src]="imagePreview" style="max-width: 100px; max-height: 100px" />
                  </div>
                </div>
              
                <div class="col-md-4">
                  <label class="col-form-label">Color Code</label>
                  <input type="color" class="form-control form-control-color" formControlName="colorCode"
                    [ngClass]="{'border-danger': customerForm.controls['colorCode'].invalid && customerForm.controls['colorCode'].touched }" />
                  <div *ngIf="customerForm.controls['colorCode'].invalid && customerForm.controls['colorCode'].touched"
                    class="text-danger">
                    <small *ngIf="customerForm.controls['colorCode'].errors?.['required']">Color code is required.</small>
                  </div>
                </div>

              </div>
            </div>

            <div class="tab-pane fade" id="other-info" role="tabpanel" aria-labelledby="other-info-tab">
              <div class="row switch-showcase">
                <div class="col-md-10 mb-2">
                  <div class="d-flex">
                    <label class="form-label">Do you want to Generate E-Way Bill Automatic?</label>
                    <div class="flex-grow-1 text-end icon-state">
                      <label class="switch">
                        <input type="checkbox"><span class="switch-state"></span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="col-md-10 mb-2">
                  <div class="d-flex">
                    <label class="form-label">Do you have Consolidated GSTNo for E-Way Bill Generation?</label>
                    <div class="flex-grow-1 text-end icon-state">
                      <label class="switch">
                        <input type="checkbox"formControlName="isConsolidatedGSTEnabled" 
                        (change)="onToggleGSTNo()"/>
                        <span class="switch-state"></span>
                      </label>
                    </div>
                  </div>
                </div>
                
                <div class="row mb-2" *ngIf="this.customerForm.get('isConsolidatedGSTEnabled')?.value">
                  <div class="col-md-6">
                    <label class="col-form-label">Consolidated GSTNo.</label>
                    <input class="form-control" formControlName="consolidatedGSTNo" type="text"
                           placeholder="Enter Consolidated GSTNo"
                           [ngClass]="{ 'border-danger': customerForm.controls['consolidatedGSTNo'].invalid && customerForm.controls['consolidatedGSTNo'].touched }" />
                
                    <div *ngIf="customerForm.controls['consolidatedGSTNo'].invalid && customerForm.controls['consolidatedGSTNo'].touched"
                         class="text-danger">
                      <small *ngIf="customerForm.controls['consolidatedGSTNo'].errors?.['required']">ConsolidatedGSTNo is required.</small>
                      <small *ngIf="customerForm.controls['consolidatedGSTNo'].errors?.['pattern']">ConsolidatedGSTNo is invalid.</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-pane fade" id="contact-info" role="tabpanel" aria-labelledby="contact-info-tab">
              <div class="row switch-showcase">
                <div class="row g-3">
                  <div class="col-md-4">
                    <label class="col-form-label">Purchase Head</label>
                    <input class="form-control" formControlName="purchaseHead" type="text"  placeholder="Enter Purchase Head" />
                  </div>
                  <div class="col-md-4">
                    <label class="col-form-label">Purchase Head Mobile No.</label>
                    <input class="form-control" formControlName="purchaseHeadMobileNo" type="text" maxlength="10"  placeholder="Enter Purchase Head Mobile" 
                    [ngClass]="{'border-danger': customerForm.controls['purchaseHeadMobileNo'].invalid && customerForm.controls['purchaseHeadMobileNo'].touched}"/>
                    <div *ngIf="customerForm.get('purchaseHeadMobileNo')?.touched && customerForm.get('purchaseHeadMobileNo')?.invalid"
                      class="text-danger">
                      <div *ngIf="customerForm.get('purchaseHeadMobileNo')?.errors?.['pattern']">
                        Mobile number must be 10 digits.
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label class="col-form-label">Accounts Head</label>
                    <input class="form-control" formControlName="accountsHead" type="text" placeholder="Enter Accounts Head"/>
                  </div>
                </div>
                <div class="row g-3">
                  <div class="col-md-4">
                    <label class="col-form-label">Accounts Head Mobile No.</label>
                    <input class="form-control" formControlName="accountsHeadMobileNo" type="text" maxlength="10" placeholder="Enter Accounts Head Mobile No"
                    [ngClass]="{'border-danger': customerForm.controls['accountsHeadMobileNo'].invalid && customerForm.controls['accountsHeadMobileNo'].touched}" />
                     <div *ngIf="customerForm.get('accountsHeadMobileNo')?.touched && customerForm.get('accountsHeadMobileNo')?.invalid"
                      class="text-danger">
                      <div *ngIf="customerForm.get('accountsHeadMobileNo')?.errors?.['pattern']">
                        Mobile number must be 10 digits.
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <label class="col-form-label">Proprietor Name</label>
                    <input class="form-control" formControlName="proprietorName" type="text"  placeholder="Enter Proprietor Name"/>
                  </div>
                  <div class="col-md-4">
                    <label class="col-form-label">Proprietor Mobile No.</label>
                    <input class="form-control" formControlName="proprietorMobileNo" type="text" maxlength="10" placeholder="Enter Proprietor Mobile No"
                    [ngClass]="{'border-danger': customerForm.controls['proprietorMobileNo'].invalid && customerForm.controls['proprietorMobileNo'].touched}"/>
                    <div *ngIf="customerForm.get('proprietorMobileNo')?.touched && customerForm.get('proprietorMobileNo')?.invalid"
                      class="text-danger">
                      <div *ngIf="customerForm.get('proprietorMobileNo')?.errors?.['pattern']">
                        Mobile number must be 10 digits.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row g-3">
                  <div class="col-md-4">
                    <label class="col-form-label">Proprietor E-mail.</label>
                    <input class="form-control" formControlName="proprietorEmail" type="text"  placeholder="Enter Proprietor E-mail"
                    [ngClass]="{ 'border-danger': customerForm.controls['proprietorEmail'].invalid && customerForm.controls['proprietorEmail'].touched}"/>
                    <div *ngIf="customerForm.controls['proprietorEmail'].invalid && customerForm.controls['proprietorEmail']?.touched" class="text-danger">
                    <small *ngIf="customerForm.controls['proprietorEmail'].errors?.['pattern']">Email is invalid.</small>
                  </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="checkbox p-0" *ngIf="customerCode != ''">
            <input id="dafault-checkbox" type="checkbox" formControlName="isActive" data-bs-original-title="" title="" (change)="isActiveChecked($event)"/>
            <label class="mb-0" for="dafault-checkbox">Active</label>
          </div>
          <div class="gap-2 d-flex justify-content-end pt-4">
            <!-- <button class="btn btn-square btn-success pull-right rounded-3" type="submit"><i class="fa fa-check"></i> Submit</button>&nbsp; -->
            <button class="btn btn-square btn-success pull-right rounded-3" type="submit" [disabled]="isLoading">
              <i *ngIf="!isLoading" class="fa fa-check"></i>
              <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-1" role="status" aria-hidden="true"></span>
              {{ isLoading ? 'Submitting...' : 'Submit' }}
            </button>&nbsp;
            <button class="btn btn-square btn-danger pull-right rounded-3" type="reset" *ngIf="!customerCode"><i class="fa fa-times" ></i> Reset</button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
