.progress-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #eeb82f;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
  }
  
  /* Active Step */
  .step.active .circle {
    background-color: #5c61f2;
  }
  
  /* Default Line - Dotted */
  .line {
    width: 50px;
    height: 5px;
    border-bottom: 2px dashed #eeb82f; /* Default Dotted Line */
    transition: all 0.3s ease-in-out;
  }
  
  /* Remove Dotted and Show Solid Line When Active */
  .line.active {
    border-bottom: 5px solid #5c61f2;
  }
  
  .span{
    font-size: 11px;
  }

  ::ng-deep .popover {
    background-color: #ffffff !important; /* Change to your desired color */
    color: #000 !important; /* Text color */
  }
  
  ::ng-deep .popover-header {
    background-color: #171829 !important; /* Title background */
    color: #ffffff !important;
  }
  
  ::ng-deep .popover-body {
    background-color: #ffffff !important; /* Content background */
    color: #000 !important;
    padding: 8px;
  }

  .overflow {
    position: relative; /* ensure relative context */
    z-index: 1;
    height: 660px;
    overflow: auto;
  }

  ::ng-deep .popover {
    z-index: 9999 !important;
  }

  ::ng-deep .bs-popover-top > .arrow::before {
  border-top-color: #171829 !important; /* match your header bg */
}


  .email-container {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
  }

  .email-tags {
    display: flex;
    flex-wrap: wrap;
  }

  .email-tag {
    background: #e6e1e1;
    padding: 5px 8px;
    border-radius: 3px;
    border: 1px solid #843131;
    margin: 2px;
    display: flex;
    align-items: center;
    color: #000000;
}
  
  .email-tag button {
    margin-left: 5px;
    border: none;
    background: transparent;
    cursor: pointer;
    color: red;
  }
