<div class="row" class="fade-in">
    <div class="col-sm-12">
        <div class="card ">
            <div class="row align-items-center p-3 fade-in">
                <div class="col-auto">
                    <label class="col-form-label fw-bold">Docket Numbers:</label>
                </div>
                <div class="col">
                    <div class="email-container">
                        <div class="email-tags">
                            <span *ngFor="let docket of docketList" class="email-tag">
                                {{ docket }}
                                <span class="ms-2 text-danger fw-bold" style="cursor:pointer;"
                                    (click)="removeDocket(docket)">✖</span>
                            </span>
                        </div>
                        <input
                        class="form-control shadow-sm"
                        type="text"
                        placeholder="Enter Docket Numbers, separated by comma"
                        (keyup)="addDocketNumber($event)"
                        (blur)="finalizeDocketInput()"
                        (keyup.enter)="finalizeDocketInput()"
                        [(ngModel)]="docketInput"
                      />
                    </div>
                </div>
                <div class="col-auto" (click)="onSearchTrackTrace()">
                    <button class="btn btn-square btn-primary pull-right rounded-3">Search</button>
                </div>
            </div>
            <div class="overflow">
                <div class="row w-100 p-4 pe-0" *ngIf="trackTraceList.length > 0; else noData">
                    <div class="col-4 fade-in" *ngFor="let data of trackTraceList;let i=index">
                        <div class="card box-shadow p-5 ">
                            <div class="text-center mb-4"> <strong>Docket Number:</strong> {{data.docketNo}}</div>
                            <div class="text-center mb-4"> <strong>CustomerName:</strong> {{data.customerName}}</div>
                            <div class="text-center mb-4"> <strong>Transporter:</strong> {{data.transporterDesc}}</div>
                            <div class="progress-container">
                                <!-- Ordered -->
                                <div class="step cursor-pointer" #popoverRef="bs-popover" [popover]="hourPopover"
                                    container="body" [popoverContext]="{index: data}" triggers="hover"
                                    placement="bottom" [popoverTitle]="'Description'"
                                    [class.active]="['1','2','3','4','5','6'].includes(data.currentStatus)">
                                    <div class="circle"><i data-feather="file-text"></i></div>
                                    <span class="span">Ordered</span>
                                </div>

                                <div class="line"
                                [class.active]="['2','3','4','5','6'].includes(data.currentStatus)">
                                </div>

                                <!-- Packed -->
                                <div class="step cursor-pointer" #popoverRef="bs-popover" [popover]="hourPopover"
                                    container="body" [popoverContext]="{index: data}" triggers="hover"
                                    placement="bottom" [popoverTitle]="'Description'"
                                    [class.active]="['3','4','5','6'].includes(data.currentStatus)">
                                    <div class="circle"><i data-feather="package"></i></div>
                                    <span class="span">Packed</span>
                                </div>

                                <div class="line"
                                [class.active]="['4','5','6'].includes(data.currentStatus)">
                                </div>

                                <!-- In Transit -->
                                <div class="step cursor-pointer" #popoverRef="bs-popover" [popover]="hourPopover"
                                    container="body" [popoverContext]="{index: data}" triggers="hover"
                                    placement="bottom" [popoverTitle]="'Description'"
                                    [class.active]="['4','5','6'].includes(data.currentStatus)">
                                    <div class="circle"><i data-feather="truck"></i></div>
                                    <span class="span">In Transit</span>
                                </div>

                                <div class="line" [class.active]="['5','6'].includes(data.currentStatus)">
                                </div>

                                <!-- Delivered -->
                                <div class="step cursor-pointer" #popoverRef="bs-popover" [popover]="hourPopover"
                                    container="body" [popoverContext]="{index: data}" triggers="hover"
                                    placement="bottom" [popoverTitle]="'Description'"
                                    [class.active]="data.currentStatus === '6'">
                                    <div class="circle"><i data-feather="home"></i></div>
                                    <span class="span">Delivered</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ng-template #noData>
                    <div class="text-center w-100">
                      <div class="border-tracktrace m-4">
                        <h6 class="text-muted">
                          To view docket details, kindly input the docket number in the search field
                        </h6>
                      </div>
                    </div>
                  </ng-template>
                  
            </div>
        </div>
    </div>
</div>

<ng-template #hourPopover let-index="index" class="p-5" style="z-index: 9999 !important;">
    <div class="p-2">
      <div class="mb-1"><strong>Date : </strong> {{index.bookingDate | date :'dd-MM-yyyy'}} </div>
      <div><strong>From Address : </strong>  {{index.fromLocation}} </div>
      <div><strong>To Address : </strong>  {{index.toLocation}} </div>
      <div><strong>Transport Mode : </strong>  {{index.transportModeDesc}} </div>
      <div><strong>Current Status : </strong> {{index.currentStatusDesc}}</div>
    </div>
  </ng-template>