<div class="row">
  <div class="col-sm-12">
    <div class="card mb-0">
      <div class="modal-header bs-blue d-flex justify-content-between">
        <h5 class="modal-title" id="exampleModalLabel">{{!lspMappingId ? 'Add LSP Mapping':'Update LSP Mapping'}}</h5>
        <button data-bs-dismiss="modal" class="close" (click)="onClose()"><i class="fa fa-close"></i></button>
      </div>
      <div class="card-body p-3 m-3">
        <div class="row">
          <!-- First Column: Customer List -->
          <div class="col-md-4">
            <div class="border-color">
              <div class="lsp-data">Customer</div>
              <div class="mb-1 px-3 mt-3">
                <input type="text" class="form-control" placeholder="Search Customer...">
              </div>
              <div class="p-3 overflow-lab">
                <!-- Add Mode: unmapped customers -->
                <ul *ngFor="let customer of unmappedCustomers" (click)="selectCustomer(customer)">
                  <li class="p-2 mb-2 searc-data d-flex justify-content-between align-items-center">
                    <div class="mr-0 p-2 lab-color w-100  d-flex justify-content-between"
                      [class.bg-info]="selectedCustomer?.customerId === customer.customerId">
                      <span>{{ customer.customerName }}</span>
                      <span>
                        <!-- {{ mappedCustomerLspMap[customer.customerId]?.length || 0 }} LSP(s) -->
                        {{ (mappedCustomerLspMap[customer.customerId] || []).length }}
                      </span>
                    </div>
                  </li>
                </ul>

                <!-- Edit Mode: selected customer -->
                <!-- <ng-container *ngIf="isEditMode && selectedCustomer">
                  <ul>
                    <li class="p-2 mb-2 searc-data d-flex justify-content-between align-items-center">
                      <div class="mr-0 p-2 lab-color w-100  d-flex justify-content-between">
                        <span>{{ selectedCustomer.customerName }}</span>
                        <span class="badge bg-secondary">
                          {{ (mappedCustomerLspMap[selectedCustomer.customerId] || []).length }} LSP(s)
                        </span>
                      </div>
                    </li>
                  </ul>
                </ng-container> -->
              </div>
            </div>
          </div>

          <!-- Second Column: Mapped LSPs -->
          <!-- Second Column: Mapped LSPs (Always Visible) -->
          <div class="col-md-4">
            <div class="border-color">
              <div class="lsp-data">
                Mapped LSPs
                <span *ngIf="selectedCustomer">for {{ selectedCustomer.customerName }}</span>
              </div>

              <div class="mb-1 px-3 mt-3">
                <input type="text" class="form-control" placeholder="Search Mapped LSPs..."
                  [disabled]="!selectedCustomer">
              </div>

              <div class="p-3 overflow-lab" (dragover)="onDragOver($event)"
                (drop)="selectedCustomer && onDropToCustomer($event, selectedCustomer)">

                <ng-container *ngIf="selectedCustomer; else noCustomerSelected">
                  <ng-container *ngIf="mappedCustomerLspMap[selectedCustomer.customerId]?.length; else noMapping">
                    <ul>
                      <li *ngFor="let lspName of mappedCustomerLspMap[selectedCustomer.customerId]"
                        class="p-2 mb-2 searc-data d-flex justify-content-between align-items-center" draggable="true"
                        (click)="toggleMappedLspSelection(lspName)" (dragstart)="onDragStartMappedLsp($event, lspName)">
                        <div class="mr-0 p-2 lab-color w-100 d-flex justify-content-between"
                          [class.selected-border]="isMappedLspSelected(lspName)">
                          {{ lspName }}
                          <i class="fa-solid fa-arrow-right-arrow-left float-end"></i>
                        </div>
                      </li>
                    </ul>
                  </ng-container>
                </ng-container>

                <ng-template #noMapping>
                  <p class="text-muted small">No LSPs mapped yet. Drop here to map.</p>
                </ng-template>

                <ng-template #noCustomerSelected>
                  <p class="text-muted small">Select a customer to see mapped LSPs.</p>
                </ng-template>
              </div>
            </div>
          </div>


          <!-- Third Column: Available LSPs -->
          <div class="col-md-4">
            <div class="border-color">
              <div class="lsp-data">Available LSPs</div>
              <div class="mb-1 px-3 mt-3">
                <input type="text" class="form-control" placeholder="Search Available LSPs...">
              </div>

              <!--  Wrap ul in a div and attach dragover/drop to div instead -->
              <div class="p-3 overflow-lab" (dragover)="onDragOver($event)" (drop)="onDropToAvailableLsp($event)">
                <ul>
                  <li *ngFor="let lsp of availableLsps"
                    class="p-2 mb-2 searc-data d-flex justify-content-between align-items-center" draggable="true"
                    (dragstart)="onDragStartLsp($event, lsp, 'available')" (click)="toggleLspSelection(lsp)">
                    <div class="mr-0 p-2 lab-color w-100 d-flex justify-content-between"
                      [class.selected-border]="isSelected(lsp)">
                      {{ lsp.lspName }}
                      <i class="fa-solid fa-arrow-left-long"
                        [ngClass]="{ 'fa-check-circle text-white': isSelected(lsp) }"></i>
                    </div>
                  </li>
                </ul>
                <div class="text-muted small mt-2">Drop mapped LSPs here to unmap them</div>
              </div>
            </div>
          </div>



        </div>
      </div>
      <div class="d-flex justify-content-between mb-3 mx-3">
        <div class="checkbox p-0 form-check checkbox checkbox-solid-success" *ngIf="lspMappingId != ''">
          <input id="dafault-checkbox" type="checkbox" [(ngModel)]="isActive" />
          <label class="mb-0" for="dafault-checkbox">Active</label>
        </div>
        <button class="btn btn-square btn-success pull-right rounded-3" (click)="onSave()" type="submit"><i
            class="fa fa-check"></i> Submit</button>
      </div>
    </div>
  </div>
  <!-- <div class="row mt-3">
  <div class="col-12 text-end">
    <button class="btn btn-primary" (click)="onSave()">Save Mapping</button>
  </div>
</div> -->


</div>