<!-- login page start-->
<div class="container-fluid p-0"  *ngIf="showLogin">
    <div class="row m-0">
        <div class="col-12 p-0">
            <div class="login-card">
                <div>
                    <div><a class="logo" href="index.html"><img class="img-fluid for-light" src="assets/images/logo/logo.png" alt="looginpage"></a></div>
                    <div class="login-main">
                        <form class="theme-form" [formGroup]="loginFormGroup" autocomplete="off"
                            (submit)="onSubmitLogin()">
                            <h4 class="text-center">Sign in to account</h4>
                            <p class="text-center">Enter your email & password to login</p>
                            <div class="form-group">
                                <label class="col-form-label">Email Address</label>
                                <input class="form-control" formControlName="email" type="email" required=""
                                    placeholder="Enter Email">
                                <div *ngIf="loginFormGroup.controls['email'].invalid && loginFormGroup.controls['email']?.touched"
                                    class="text-danger">
                                    <small *ngIf="loginFormGroup.controls['email'].errors?.['required']">Email
                                        is required.</small>
                                    <small *ngIf="loginFormGroup.controls['email'].errors?.['pattern']">Email
                                        is invalid.</small>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-form-label">Password</label>
                                     <div class="form-input position-relative">
                                      <input class="form-control" formControlName="password" type="password"
                                        name="login[password]" required="" [type]="isPasswordVisible ? 'text' : 'password'" placeholder="Enter Password">
                                      <div class="align-middle position-absolute top-50 translate-middle-y end-0 pe-3" (click)="togglePasswordVisibility()"> 
                                        <i class="fa"  [style.color]="isPasswordVisible ? 'darkblue' : 'gray'" [ngClass]="isPasswordVisible ? 'fa-eye' : 'fa-eye-slash'"></i>
                                      </div>
                                    </div>
                                    <div *ngIf="loginFormGroup.controls['password'].invalid && loginFormGroup.controls['password']?.touched"
                                        class="text-danger">
                                        <small *ngIf="loginFormGroup.controls['password'].errors?.['required']">Password
                                            is required.</small>
                                        <small *ngIf="loginFormGroup.controls['password'].errors?.['pattern']">Password
                                            is invalid.</small>
                                    </div>
                            </div>
                            <div class="form-group mb-0">
                                <div class="checkbox p-0">
                                    <input id="checkbox1" type="checkbox">
                                    <label class="text-muted" for="checkbox1">Remember password</label>
                                </div><a class="link cursor-pointer" (click)="openForgotPassword()">Forgot password?</a>
                                <div class="text-end mt-3">
                                    <button class="btn btn-primary btn-block w-100" [disabled]="loginFormGroup.invalid"
                                        type="submit">Sign in </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="page-wrapper" *ngIf="showForgotPassword">
    <div class="container-fluid p-0">
      <div class="row">
        <div class="col-12">     
          <div class="login-card">
            <div>
              <div><a class="logo" href="index.html"><img class="img-fluid for-light" src="../assets/images/logo/logo2.png" alt="looginpage"></a></div>
              <div class="login-main"> 
                <form class="theme-form">                
                  <h4>Reset Your Password</h4>
                  <div class="form-group" *ngIf="!sendEmail">
                    <label class="col-form-label">Enter Your Email Address</label>
                    <div class="row">
                      <div class="col-12 col-sm-12">
                        <input class="form-control mb-1" type="email" placeholder="Enter Your Email">
                      </div>
                      <div class="col-12">
                        <div class="text-end">
                          <button class="btn btn-primary btn-block m-t-10" type="submit" (click)="sendToEmail()">Send</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- <div class="mt-4 mb-4"><span class="reset-password-link">If don't receive OTP?  <a class="btn-link text-danger">Resend</a></span></div>
                  <div class="form-group">
                    <label class="col-form-label pt-0">Enter OTP</label>
                    <div class="row">
                      <div class="col">
                        <input class="form-control text-center opt-text" type="text"  maxlength="1" #d1 (input)="d1.value && d2.focus()" 
                        (keydown.backspace)="!d1.value ? d1.blur() : null">
                      </div>
                      <div class="col">
                        <input class="form-control text-center opt-text" type="text"  maxlength="1" #d2 (input)="d2.value && d3.focus()" 
                        (keydown.backspace)="!d2.value ? d1.focus() : null">
                      </div>
                      <div class="col">
                        <input class="form-control text-center opt-text" type="text"  maxlength="1" #d3 (input)="d3.value && d4.focus()" 
                        (keydown.backspace)="!d3.value ? d2.focus() : null">
                      </div>
                      <div class="col">
                        <input class="form-control text-center opt-text" type="text"  maxlength="1" #d4>
                      </div>
                    </div>
                  </div> -->
                 <div *ngIf="sendEmail">
                    <!-- <h6 class="mt-4">Create Your Password</h6> -->
                    <div class="form-group">
                      <label class="col-form-label">New Password</label>
                      <div class="form-input position-relative">
                        <div class="form-input position-relative">
                          <input class="form-control" type="password"
                             [type]="isPasswordVisible ? 'text' : 'password'" placeholder="Enter New Password">
                          <div class="align-middle position-absolute top-50 translate-middle-y end-0 pe-3" (click)="togglePasswordVisibility()"> 
                            <i class="fa"  [style.color]="isPasswordVisible ? 'darkblue' : 'gray'" [ngClass]="isPasswordVisible ? 'fa-eye' : 'fa-eye-slash'"></i>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-form-label">Confirm Password</label>
                      <div class="form-input position-relative">
                      <input class="form-control" type="password"  required="" placeholder="Enter Confirm Password">
                      <div class="align-middle position-absolute top-50 translate-middle-y end-0 pe-3" (click)="togglePasswordVisibility()"> 
                        <i class="fa"  [style.color]="isPasswordVisible ? 'darkblue' : 'gray'" [ngClass]="isPasswordVisible ? 'fa-eye' : 'fa-eye-slash'"></i>
                      </div>
                    </div>
                    </div>
                    <div class="form-group mb-0">
                      <div class="checkbox p-0">
                        <input id="checkbox1" type="checkbox">
                        <label class="text-muted" for="checkbox1">Remember password</label>
                      </div>
                      <button class="btn btn-primary btn-block w-100 mt-3" type="submit" (click)="resetPassword()">Done</button>
                    </div>
                    <p class="mt-4 mb-0 text-center">Already have an password?<a class="ms-2 cursor-pointer" (click)="backToLogin()">Sign in</a></p>
                 </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>