<div class="row" >
    <div class="col-sm-12">
    <div class="bg-white">
      <div class="card no-shadow m-0 p-2 pb-4">
        <div class="card-body pt-2 pb-0">
          <!-- <div class="card-header d-flex align-items-center row justify-content-between p-0 pb-3">
            <h4 class="col-4">Select POD File</h4>
            <h4 class="col-6">Select Images</h4>
            <button class="btn col-2 btn-square btn-primary pull-right rounded-3"  (click)="downloadSampleFile($event)"> Download Import Template </button>
          </div> -->
          <div class="row fade-in">
            <div class="col-sm-4">
              <div class="card mb-0">
                <div class="card-body px-0 py-0">
                  <ngx-dropzone (change)="onDropzoneSelect($event)" class="dropzone dropzone-info" [multiple]="true">
                    <ngx-dropzone-label>
                      <div class="dz-message needsclick">
                        <i class="icon-cloud-up"></i>
                        <h6>Drop files here or click to upload.</h6>
                        <span class="note needsclick">
                          (Selected files are <strong>not</strong> actually uploaded.)
                        </span>
                      </div>
                    </ngx-dropzone-label>
                    <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                      <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
                    </ngx-dropzone-preview>
                  </ngx-dropzone>
                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="card mb-0">
                <div class="card-body px-0 py-0">
                  <ngx-dropzone class="dropzone dropzone-info" (change)="onDropzoneimgSelect($event)" [multiple]="true"   [accept]="'image/jpeg,image/png,image/tiff'">
                    <ngx-dropzone-label>
                      <div class="dz-message needsclick">
                        <i class="icon-cloud-up"></i>
                        <h6>Image here or click to upload.</h6>
                        <span class="note needsclick">
                          (Selected image are <strong>not</strong> actually uploaded.)
                        </span>
                      </div>
                    </ngx-dropzone-label>
                    <ngx-dropzone-preview *ngFor="let f of uploadedImages" [removable]="true" class="ngx-dropzone-preview" (removed)="onRemoveimg(f)">
                      <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
                      <img [src]="f.objectURL" class="mt-2" *ngIf="f.objectURL" />
                    </ngx-dropzone-preview>
                  </ngx-dropzone>
                </div>
              </div>
            </div>
          </div>
          
          <!-- Table to display Excel data -->
        <div *ngIf="mappedData.length > 0" class="overflow-y h-100 px-2 mt-4">
            <table class="table mt-3 w-100 excelData-table">
              <thead class="table-light">
                <tr>
                  <th class="text-center">Docket No</th>
                  <th class="text-center">LSP Name</th>
                  <th class="text-center">Customer Name</th>
                  <th class="text-center">Upload Date</th>
                  <th class="text-center">Image Link</th>
                  <th class="text-center">Reason</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of mappedData" [ngClass]="!data.isValid ? 'pink' : 'green'" >
                  <td class="text-center p-2">{{ data.docketNo || 'N/A' }}</td>
                  <td class="text-center p-2">{{ data.lspName }}</td>
                  <td class="text-center p-2">{{ data.customerName }}</td>
                  <td class="text-center p-2">{{ data.uploadDate | date: 'dd-MM-yyyy' }}</td>
                  <td class="text-center p-2">
                    <i [ngClass]="data.imageName ? 'fa fa-check-square text-success' : 'fa fa-window-close text-danger'"></i>
                  </td>
                  <td class="text-center p-2 w-20" [title]="data.validationStatus">{{ data.validationStatus }}</td>
                </tr>
              </tbody>
            </table>
          </div>

        <div class="row pt-3 mt-3 gx-2 gy-2">
          <div class="col-12 col-md-auto ms-auto">
            <button class="btn w-100 btn-primary btn-square rounded-3" (click)="downloadSampleFile($event)"> Download Import Template</button>
          </div>
          <div class="col-12 col-md-auto" *ngIf="!isValidData">
            <button class="btn w-100 btn-success btn-square rounded-3" (click)="validatePODData()"> Upload</button>
          </div>
          <div class="col-12 col-md-auto" *ngIf="isValidData">
            <button class="btn w-100 btn-success btn-square rounded-3" (click)="exportExcel()"> Save </button>
          </div>
        </div>
        </div>
      </div>
    </div>
    </div>
  </div>