  <div class="card" style="background: #fbfbfb; border-radius: 0%;">
    <div class="card-body p-0">
      <ul class="nav nav-tabs nav-primary" id="pills-warningtab" role="tablist">
        <li class="nav-item"><a class="nav-link active p-3" id="pills-warningdocket-tab" data-bs-toggle="pill" [routerLink]="'/docket/list'" role="tab" aria-controls="pills-warningdocket" aria-selected="true"><i data-feather="file-text" style="height: 15px;"></i>Docket</a></li>
        <li class="nav-item"><a class="nav-link p-3" id="pills-warningstatus-update-tab" data-bs-toggle="pill" role="tab"[routerLink]="'/docket/docket-update'" aria-controls="pills-warningstatus-update" aria-selected="false"><i class="ri-upload-2-line"></i>Docket Status Update</a></li>
        <li class="nav-item"><a class="nav-link p-3" id="pills-warningpod-update-tab" data-bs-toggle="pill" role="tab" [routerLink]="'/docket/pod-upload'" aria-controls="pills-warningpod-update" aria-selected="false"><i class="ri-article-line"></i>POD Update</a></li>
      </ul>
      <div class="tab-content" id="pills-warningtabContent">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>